.u-t-0 {
    top: 0 !important;
}
.u-t-05 {
    top: .5rem !important;
}
.u-t-1 {
    top: 1rem !important;
}
.u-t-15 {
    top: 1.5rem !important;
}
.u-t-2 {
    top: 2rem !important;
}
.u-t-25 {
    top: 2.5rem !important;
}
.u-t-3 {
    top: 3rem !important;
}
.u-t-35 {
    top: 3.5rem !important;
}
.u-t-4 {
    top: 4rem !important;
}
.u-r-0 {
    right: 0 !important;
}
.u-r-05 {
    right: .5rem !important;
}
.u-r-1 {
    right: 1rem !important;
}
.u-r-15 {
    right: 1.5rem !important;
}
.u-r-2 {
    right: 2rem !important;
}
.u-r-25 {
    right: 2.5rem !important;
}
.u-r-3 {
    right: 3rem !important;
}
.u-r-35 {
    right: 3.5rem !important;
}
.u-r-4 {
    right: 4rem !important;
}
.u-b-0 {
    bottom: 0 !important;
}
.u-b-05 {
    bottom: .5rem !important;
}
.u-b-1 {
    bottom: 1rem !important;
}
.u-b-15 {
    bottom: 1.5rem !important;
}
.u-b-2 {
    bottom: 2rem !important;
}
.u-b-25 {
    bottom: 2.5rem !important;
}
.u-b-3 {
    bottom: 3rem !important;
}
.u-b-35 {
    bottom: 3.5rem !important;
}
.u-b-4 {
    bottom: 4rem !important;
}
.u-l-0 {
    left: 0 !important;
}
.u-l-05 {
    left: .5rem !important;
}
.u-l-1 {
    left: 1rem !important;
}
.u-l-15 {
    left: 1.5rem !important;
}
.u-l-2 {
    left: 2rem !important;
}
.u-l-25 {
    left: 2.5rem !important;
}
.u-l-3 {
    left: 3rem !important;
}
.u-l-35 {
    left: 3.5rem !important;
}
.u-l-4 {
    left: 4rem !important;
}
.u-m-0, .u-my-0, .u-mt-0 {
    margin-top: 0 !important;
}
.u-m-05, .u-my-05, .u-mt-05 {
    margin-top: .5rem !important;
}
.u-m-1, .u-my-1, .u-mt-1 {
    margin-top: 1rem !important;
}
.u-m-15, .u-my-15, .u-mt-15 {
    margin-top: 1.5rem !important;
}
.u-m-2, .u-my-2, .u-mt-2 {
    margin-top: 2rem !important;
}
.u-m-25, .u-my-25, .u-mt-25 {
    margin-top: 2.5rem !important;
}
.u-m-3, .u-my-3, .u-mt-3 {
    margin-top: 3rem !important;
}
.u-m-35, .u-my-35, .u-mt-35 {
    margin-top: 3.5rem !important;
}
.u-m-4, .u-my-4, .u-mt-4 {
    margin-top: 4rem !important;
}
.u-m-0, .u-mx-0, .u-mr-0 {
    margin-right: 0 !important;
}
.u-m-05, .u-mx-05, .u-mr-05 {
    margin-right: .5rem !important;
}
.u-m-1, .u-mx-1, .u-mr-1 {
    margin-right: 1rem !important;
}
.u-m-15, .u-mx-15, .u-mr-15 {
    margin-right: 1.5rem !important;
}
.u-m-2, .u-mx-2, .u-mr-2 {
    margin-right: 2rem !important;
}
.u-m-25, .u-mx-25, .u-mr-25 {
    margin-right: 2.5rem !important;
}
.u-m-3, .u-mx-3, .u-mr-3 {
    margin-right: 3rem !important;
}
.u-m-35, .u-mx-35, .u-mr-35 {
    margin-right: 3.5rem !important;
}
.u-m-4, .u-mx-4, .u-mr-4 {
    margin-right: 4rem !important;
}
.u-m-0, .u-my-0, .u-mb-0 {
    margin-bottom: 0 !important;
}
.u-m-05, .u-my-05, .u-mb-05 {
    margin-bottom: .5rem !important;
}
.u-m-1, .u-my-1, .u-mb-1 {
    margin-bottom: 1rem !important;
}
.u-m-15, .u-my-15, .u-mb-15 {
    margin-bottom: 1.5rem !important;
}
.u-m-2, .u-my-2, .u-mb-2 {
    margin-bottom: 2rem !important;
}
.u-m-25, .u-my-25, .u-mb-25 {
    margin-bottom: 2.5rem !important;
}
.u-m-3, .u-my-3, .u-mb-3 {
    margin-bottom: 3rem !important;
}
.u-m-35, .u-my-35, .u-mb-35 {
    margin-bottom: 3.5rem !important;
}
.u-m-4, .u-my-4, .u-mb-4 {
    margin-bottom: 4rem !important;
}
.u-m-0, .u-mx-0, .u-ml-0 {
    margin-left: 0 !important;
}
.u-m-05, .u-mx-05, .u-ml-05 {
    margin-left: .5rem !important;
}
.u-m-1, .u-mx-1, .u-ml-1 {
    margin-left: 1rem !important;
}
.u-m-15, .u-mx-15, .u-ml-15 {
    margin-left: 1.5rem !important;
}
.u-m-2, .u-mx-2, .u-ml-2 {
    margin-left: 2rem !important;
}
.u-m-25, .u-mx-25, .u-ml-25 {
    margin-left: 2.5rem !important;
}
.u-m-3, .u-mx-3, .u-ml-3 {
    margin-left: 3rem !important;
}
.u-m-35, .u-mx-35, .u-ml-35 {
    margin-left: 3.5rem !important;
}
.u-m-4, .u-mx-4, .u-ml-4 {
    margin-left: 4rem !important;
}
.u-p-0, .u-py-0, .u-pt-0 {
    padding-top: 0 !important;
}
.u-p-05, .u-py-05, .u-pt-05 {
    padding-top: .5rem !important;
}
.u-p-1, .u-py-1, .u-pt-1 {
    padding-top: 1rem !important;
}
.u-p-15, .u-py-15, .u-pt-15 {
    padding-top: 1.5rem !important;
}
.u-p-2, .u-py-2, .u-pt-2 {
    padding-top: 2rem !important;
}
.u-p-25, .u-py-25, .u-pt-25 {
    padding-top: 2.5rem !important;
}
.u-p-3, .u-py-3, .u-pt-3 {
    padding-top: 3rem !important;
}
.u-p-35, .u-py-35, .u-pt-35 {
    padding-top: 3.5rem !important;
}
.u-p-4, .u-py-4, .u-pt-4 {
    padding-top: 4rem !important;
}
.u-p-0, .u-px-0, .u-pr-0 {
    padding-right: 0 !important;
}
.u-p-05, .u-px-05, .u-pr-05 {
    padding-right: .5rem !important;
}
.u-p-1, .u-px-1, .u-pr-1 {
    padding-right: 1rem !important;
}
.u-p-15, .u-px-15, .u-pr-15 {
    padding-right: 1.5rem !important;
}
.u-p-2, .u-px-2, .u-pr-2 {
    padding-right: 2rem !important;
}
.u-p-25, .u-px-25, .u-pr-25 {
    padding-right: 2.5rem !important;
}
.u-p-3, .u-px-3, .u-pr-3 {
    padding-right: 3rem !important;
}
.u-p-35, .u-px-35, .u-pr-35 {
    padding-right: 3.5rem !important;
}
.u-p-4, .u-px-4, .u-pr-4 {
    padding-right: 4rem !important;
}
.u-p-0, .u-py-0, .u-pb-0 {
    padding-bottom: 0 !important;
}
.u-p-05, .u-py-05, .u-pb-05 {
    padding-bottom: .5rem !important;
}
.u-p-1, .u-py-1, .u-pb-1 {
    padding-bottom: 1rem !important;
}
.u-p-15, .u-py-15, .u-pb-15 {
    padding-bottom: 1.5rem !important;
}
.u-p-2, .u-py-2, .u-pb-2 {
    padding-bottom: 2rem !important;
}
.u-p-25, .u-py-25, .u-pb-25 {
    padding-bottom: 2.5rem !important;
}
.u-p-3, .u-py-3, .u-pb-3 {
    padding-bottom: 3rem !important;
}
.u-p-35, .u-py-35, .u-pb-35 {
    padding-bottom: 3.5rem !important;
}
.u-p-4, .u-py-4, .u-pb-4 {
    padding-bottom: 4rem !important;
}
.u-p-0, .u-px-0, .u-pl-0 {
    padding-left: 0 !important;
}
.u-p-05, .u-px-05, .u-pl-05 {
    padding-left: .5rem !important;
}
.u-p-1, .u-px-1, .u-pl-1 {
    padding-left: 1rem !important;
}
.u-p-15, .u-px-15, .u-pl-15 {
    padding-left: 1.5rem !important;
}
.u-p-2, .u-px-2, .u-pl-2 {
    padding-left: 2rem !important;
}
.u-p-25, .u-px-25, .u-pl-25 {
    padding-left: 2.5rem !important;
}
.u-p-3, .u-px-3, .u-pl-3 {
    padding-left: 3rem !important;
}
.u-p-35, .u-px-35, .u-pl-35 {
    padding-left: 3.5rem !important;
}
.u-p-4, .u-px-4, .u-pl-4 {
    padding-left: 4rem !important;
}
.u-fs-05 {
    font-size: .5rem !important;
}
.u-fs-1 {
    font-size: 1rem !important;
}
.u-fs-15 {
    font-size: 1.5rem !important;
}
.u-fs-2 {
    font-size: 2rem !important;
}
.u-fs-25 {
    font-size: 2.5rem !important;
}
.u-fs-3 {
    font-size: 3rem !important;
}
.u-fs-35 {
    font-size: 3.5rem !important;
}
.u-fs-4 {
    font-size: 4rem !important;
}
.u-fw-100 {
    font-weight: 100 !important;
}
.u-fw-200 {
    font-weight: 200 !important;
}
.u-fw-300 {
    font-weight: 300 !important;
}
.u-fw-400 {
    font-weight: 400 !important;
}
.u-fw-500 {
    font-weight: 500 !important;
}
.u-fw-600 {
    font-weight: 600 !important;
}
.u-fw-700 {
    font-weight: 700 !important;
}
.u-fw-800 {
    font-weight: 800 !important;
}
.u-fw-900 {
    font-weight: 900 !important;
}
.u-border {
    border: 1px solid !important;
}
.u-border-top {
    border-top: 1px solid !important;
}
.u-border-right {
    border-right: 1px solid !important;
}
.u-border-bottom {
    border-bottom: 1px solid !important;
}
.u-border-left {
    border-left: 1px solid !important;
}
.u-border-0 {
    border: 0 !important;
}
.u-border-top-0 {
    border-top: 0 !important;
}
.u-border-right-0 {
    border-right: 0 !important;
}
.u-border-bottom-0 {
    border-bottom: 0 !important;
}
.u-border-left-0 {
    border-left: 0 !important;
}
.u-position-static {
    position: static !important;
}
.u-position-relative {
    position: relative !important;
}
.u-position-absolute {
    position: absolute !important;
}
.u-position-fixed {
    position: fixed !important;
} 
.u-position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}
.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
    margin-bottom: 0;
}
.u-h1 {
    font-size: 2.5rem;
} 
.u-h2 {
    font-size: 2rem;
} 
.u-h3 {
    font-size: 1.75rem;
} 
.u-h4 {
    font-size: 1.5rem;
} 
.u-h5 {
    font-size: 1.25rem;
}  
.u-h6 {
    font-size: 1rem;
}
.u-shadow-inverse {
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15) !important;
}
.u-lh-1 {
    line-height: 1 !important;
}
.u-cx {
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.u-cy {
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.u-cx.u-cy {
    transform: translateX(-50%) translateY(-50%) !important;
}
.u-h-100vh {
    height: 100vh !important;
}
.u-no-scroll {
    overflow-y: hidden !important;
}
@media (min-width: 576px) {
    .u-t-sm-0 {
        top: 0 !important;
    }
    .u-t-sm-05 {
        top: .5rem !important;
    }
    .u-t-sm-1 {
        top: 1rem !important;
    }
    .u-t-sm-15 {
        top: 1.5rem !important;
    }
    .u-t-sm-2 {
        top: 2rem !important;
    }
    .u-t-sm-25 {
        top: 2.5rem !important;
    }
    .u-t-sm-3 {
        top: 3rem !important;
    }
    .u-t-sm-35 {
        top: 3.5rem !important;
    }
    .u-t-sm-4 {
        top: 4rem !important;
    }
    .u-r-sm-0 {
        right: 0 !important;
    }
    .u-r-sm-05 {
        right: .5rem !important;
    }
    .u-r-sm-1 {
        right: 1rem !important;
    }
    .u-r-sm-15 {
        right: 1.5rem !important;
    }
    .u-r-sm-2 {
        right: 2rem !important;
    }
    .u-r-sm-25 {
        right: 2.5rem !important;
    }
    .u-r-sm-3 {
        right: 3rem !important;
    }
    .u-r-sm-35 {
        right: 3.5rem !important;
    }
    .u-r-sm-4 {
        right: 4rem !important;
    }
    .u-b-sm-0 {
        bottom: 0 !important;
    }
    .u-b-sm-05 {
        bottom: .5rem !important;
    }
    .u-b-sm-1 {
        bottom: 1rem !important;
    }
    .u-b-sm-15 {
        bottom: 1.5rem !important;
    }
    .u-b-sm-2 {
        bottom: 2rem !important;
    }
    .u-b-sm-25 {
        bottom: 2.5rem !important;
    }
    .u-b-sm-3 {
        bottom: 3rem !important;
    }
    .u-b-sm-35 {
        bottom: 3.5rem !important;
    }
    .u-b-sm-4 {
        bottom: 4rem !important;
    }
    .u-l-sm-0 {
        left: 0 !important;
    }
    .u-l-sm-05 {
        left: .5rem !important;
    }
    .u-l-sm-1 {
        left: 1rem !important;
    }
    .u-l-sm-15 {
        left: 1.5rem !important;
    }
    .u-l-sm-2 {
        left: 2rem !important;
    }
    .u-l-sm-25 {
        left: 2.5rem !important;
    }
    .u-l-sm-3 {
        left: 3rem !important;
    }
    .u-l-sm-35 {
        left: 3.5rem !important;
    }
    .u-l-sm-4 {
        left: 4rem !important;
    }
    .u-m-sm-0, .u-my-sm-0, .u-mt-sm-0 {
        margin-top: 0 !important;
    }
    .u-m-sm-05, .u-my-sm-05, .u-mt-sm-05 {
        margin-top: .5rem !important;
    }
    .u-m-sm-1, .u-my-sm-1, .u-mt-sm-1 {
        margin-top: 1rem !important;
    }
    .u-m-sm-15, .u-my-sm-15, .u-mt-sm-15 {
        margin-top: 1.5rem !important;
    }
    .u-m-sm-2, .u-my-sm-2, .u-mt-sm-2 {
        margin-top: 2rem !important;
    }
    .u-m-sm-25, .u-my-sm-25, .u-mt-sm-25 {
        margin-top: 2.5rem !important;
    }
    .u-m-sm-3, .u-my-sm-3, .u-mt-sm-3 {
        margin-top: 3rem !important;
    }
    .u-m-sm-35, .u-my-sm-35, .u-mt-sm-35 {
        margin-top: 3.5rem !important;
    }
    .u-m-sm-4, .u-my-sm-4, .u-mt-sm-4 {
        margin-top: 4rem !important;
    }
    .u-m-sm-0, .u-mx-sm-0, .u-mr-sm-0 {
        margin-right: 0 !important;
    }
    .u-m-sm-05, .u-mx-sm-05, .u-mr-sm-05 {
        margin-right: .5rem !important;
    }
    .u-m-sm-1, .u-mx-sm-1, .u-mr-sm-1 {
        margin-right: 1rem !important;
    }
    .u-m-sm-15, .u-mx-sm-15, .u-mr-sm-15 {
        margin-right: 1.5rem !important;
    }
    .u-m-sm-2, .u-mx-sm-2, .u-mr-sm-2 {
        margin-right: 2rem !important;
    }
    .u-m-sm-25, .u-mx-sm-25, .u-mr-sm-25 {
        margin-right: 2.5rem !important;
    }
    .u-m-sm-3, .u-mx-sm-3, .u-mr-sm-3 {
        margin-right: 3rem !important;
    }
    .u-m-sm-35, .u-mx-sm-35, .u-mr-sm-35 {
        margin-right: 3.5rem !important;
    }
    .u-m-sm-4, .u-mx-sm-4, .u-mr-sm-4 {
        margin-right: 4rem !important;
    }
    .u-m-sm-0, .u-my-sm-0, .u-mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .u-m-sm-05, .u-my-sm-05, .u-mb-sm-05 {
        margin-bottom: .5rem !important;
    }
    .u-m-sm-1, .u-my-sm-1, .u-mb-sm-1 {
        margin-bottom: 1rem !important;
    }
    .u-m-sm-15, .u-my-sm-15, .u-mb-sm-15 {
        margin-bottom: 1.5rem !important;
    }
    .u-m-sm-2, .u-my-sm-2, .u-mb-sm-2 {
        margin-bottom: 2rem !important;
    }
    .u-m-sm-25, .u-my-sm-25, .u-mb-sm-25 {
        margin-bottom: 2.5rem !important;
    }
    .u-m-sm-3, .u-my-sm-3, .u-mb-sm-3 {
        margin-bottom: 3rem !important;
    }
    .u-m-sm-35, .u-my-sm-35, .u-mb-sm-35 {
        margin-bottom: 3.5rem !important;
    }
    .u-m-sm-4, .u-my-sm-4, .u-mb-sm-4 {
        margin-bottom: 4rem !important;
    }
    .u-m-sm-0, .u-mx-sm-0, .u-ml-sm-0 {
        margin-left: 0 !important;
    }
    .u-m-sm-05, .u-mx-sm-05, .u-ml-sm-05 {
        margin-left: .5rem !important;
    }
    .u-m-sm-1, .u-mx-sm-1, .u-ml-sm-1 {
        margin-left: 1rem !important;
    }
    .u-m-sm-15, .u-mx-sm-15, .u-ml-sm-15 {
        margin-left: 1.5rem !important;
    }
    .u-m-sm-2, .u-mx-sm-2, .u-ml-sm-2 {
        margin-left: 2rem !important;
    }
    .u-m-sm-25, .u-mx-sm-25, .u-ml-sm-25 {
        margin-left: 2.5rem !important;
    }
    .u-m-sm-3, .u-mx-sm-3, .u-ml-sm-3 {
        margin-left: 3rem !important;
    }
    .u-m-sm-35, .u-mx-sm-35, .u-ml-sm-35 {
        margin-left: 3.5rem !important;
    }
    .u-m-sm-4, .u-mx-sm-4, .u-ml-sm-4 {
        margin-left: 4rem !important;
    }
    .u-p-sm-0, .u-py-sm-0, .u-pt-sm-0 {
        padding-top: 0 !important;
    }
    .u-p-sm-05, .u-py-sm-05, .u-pt-sm-05 {
        padding-top: .5rem !important;
    }
    .u-p-sm-1, .u-py-sm-1, .u-pt-sm-1 {
        padding-top: 1rem !important;
    }
    .u-p-sm-15, .u-py-sm-15, .u-pt-sm-15 {
        padding-top: 1.5rem !important;
    }
    .u-p-sm-2, .u-py-sm-2, .u-pt-sm-2 {
        padding-top: 2rem !important;
    }
    .u-p-sm-25, .u-py-sm-25, .u-pt-sm-25 {
        padding-top: 2.5rem !important;
    }
    .u-p-sm-3, .u-py-sm-3, .u-pt-sm-3 {
        padding-top: 3rem !important;
    }
    .u-p-sm-35, .u-py-sm-35, .u-pt-sm-35 {
        padding-top: 3.5rem !important;
    }
    .u-p-sm-4, .u-py-sm-4, .u-pt-sm-4 {
        padding-top: 4rem !important;
    }
    .u-p-sm-0, .u-px-sm-0, .u-pr-sm-0 {
        padding-right: 0 !important;
    }
    .u-p-sm-05, .u-px-sm-05, .u-pr-sm-05 {
        padding-right: .5rem !important;
    }
    .u-p-sm-1, .u-px-sm-1, .u-pr-sm-1 {
        padding-right: 1rem !important;
    }
    .u-p-sm-15, .u-px-sm-15, .u-pr-sm-15 {
        padding-right: 1.5rem !important;
    }
    .u-p-sm-2, .u-px-sm-2, .u-pr-sm-2 {
        padding-right: 2rem !important;
    }
    .u-p-sm-25, .u-px-sm-25, .u-pr-sm-25 {
        padding-right: 2.5rem !important;
    }
    .u-p-sm-3, .u-px-sm-3, .u-pr-sm-3 {
        padding-right: 3rem !important;
    }
    .u-p-sm-35, .u-px-sm-35, .u-pr-sm-35 {
        padding-right: 3.5rem !important;
    }
    .u-p-sm-4, .u-px-sm-4, .u-pr-sm-4 {
        padding-right: 4rem !important;
    }
    .u-p-sm-0, .u-py-sm-0, .u-pb-sm-0 {
        padding-bottom: 0 !important;
    }
    .u-p-sm-05, .u-py-sm-05, .u-pb-sm-05 {
        padding-bottom: .5rem !important;
    }
    .u-p-sm-1, .u-py-sm-1, .u-pb-sm-1 {
        padding-bottom: 1rem !important;
    }
    .u-p-sm-15, .u-py-sm-15, .u-pb-sm-15 {
        padding-bottom: 1.5rem !important;
    }
    .u-p-sm-2, .u-py-sm-2, .u-pb-sm-2 {
        padding-bottom: 2rem !important;
    }
    .u-p-sm-25, .u-py-sm-25, .u-pb-sm-25 {
        padding-bottom: 2.5rem !important;
    }
    .u-p-sm-3, .u-py-sm-3, .u-pb-sm-3 {
        padding-bottom: 3rem !important;
    }
    .u-p-sm-35, .u-py-sm-35, .u-pb-sm-35 {
        padding-bottom: 3.5rem !important;
    }
    .u-p-sm-4, .u-py-sm-4, .u-pb-sm-4 {
        padding-bottom: 4rem !important;
    }
    .u-p-sm-0, .u-px-sm-0, .u-pl-sm-0 {
        padding-left: 0 !important;
    }
    .u-p-sm-05, .u-px-sm-05, .u-pl-sm-05 {
        padding-left: .5rem !important;
    }
    .u-p-sm-1, .u-px-sm-1, .u-pl-sm-1 {
        padding-left: 1rem !important;
    }
    .u-p-sm-15, .u-px-sm-15, .u-pl-sm-15 {
        padding-left: 1.5rem !important;
    }
    .u-p-sm-2, .u-px-sm-2, .u-pl-sm-2 {
        padding-left: 2rem !important;
    }
    .u-p-sm-25, .u-px-sm-25, .u-pl-sm-25 {
        padding-left: 2.5rem !important;
    }
    .u-p-sm-3, .u-px-sm-3, .u-pl-sm-3 {
        padding-left: 3rem !important;
    }
    .u-p-sm-35, .u-px-sm-35, .u-pl-sm-35 {
        padding-left: 3.5rem !important;
    }
    .u-p-sm-4, .u-px-sm-4, .u-pl-sm-4 {
        padding-left: 4rem !important;
    }
    .u-fs-sm-05 {
        font-size: .5rem !important;
    }
    .u-fs-sm-1 {
        font-size: 1rem !important;
    }
    .u-fs-sm-15 {
        font-size: 1.5rem !important;
    }
    .u-fs-sm-2 {
        font-size: 2rem !important;
    }
    .u-fs-sm-25 {
        font-size: 2.5rem !important;
    }
    .u-fs-sm-3 {
        font-size: 3rem !important;
    }
    .u-fs-sm-35 {
        font-size: 3.5rem !important;
    }
    .u-fs-sm-4 {
        font-size: 4rem !important;
    }
    .u-fw-sm-100 {
        font-weight: 100 !important;
    }
    .u-fw-sm-200 {
        font-weight: 200 !important;
    }
    .u-fw-sm-300 {
        font-weight: 300 !important;
    }
    .u-fw-sm-400 {
        font-weight: 400 !important;
    }
    .u-fw-sm-500 {
        font-weight: 500 !important;
    }
    .u-fw-sm-600 {
        font-weight: 600 !important;
    }
    .u-fw-sm-700 {
        font-weight: 700 !important;
    }
    .u-fw-sm-800 {
        font-weight: 800 !important;
    }
    .u-fw-sm-900 {
        font-weight: 900 !important;
    }
    .u-border-sm {
        border: 1px solid !important;
    }
    .u-border-sm-top {
        border-top: 1px solid !important;
    }
    .u-border-sm-right {
        border-right: 1px solid !important;
    }
    .u-border-sm-bottom {
        border-bottom: 1px solid !important;
    }
    .u-border-sm-left {
        border-left: 1px solid !important;
    }
    .u-border-sm-0 {
        border: 0 !important;
    }
    .u-border-sm-top-0 {
        border-top: 0 !important;
    }
    .u-border-sm-right-0 {
        border-right: 0 !important;
    }
    .u-border-sm-bottom-0 {
        border-bottom: 0 !important;
    }
    .u-border-sm-left-0 {
        border-left: 0 !important;
    }
    .u-position-sm-static {
        position: static !important;
    }
    .u-position-sm-relative {
        position: relative !important;
    }
    .u-position-sm-absolute {
        position: absolute !important;
    }
    .u-position-sm-fixed {
        position: fixed !important;
    } 
    .u-position-sm-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .u-sm-h1 {
        font-size: 2.5rem;
    } 
    .u-sm-h2 {
        font-size: 2rem;
    } 
    .u-sm-h3 {
        font-size: 1.75rem;
    } 
    .u-sm-h4 {
        font-size: 1.5rem;
    } 
    .u-sm-h5 {
        font-size: 1.25rem;
    }  
    .u-sm-h6 {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .u-t-md-0 {
        top: 0 !important;
    }
    .u-t-md-05 {
        top: .5rem !important;
    }
    .u-t-md-1 {
        top: 1rem !important;
    }
    .u-t-md-15 {
        top: 1.5rem !important;
    }
    .u-t-md-2 {
        top: 2rem !important;
    }
    .u-t-md-25 {
        top: 2.5rem !important;
    }
    .u-t-md-3 {
        top: 3rem !important;
    }
    .u-t-md-35 {
        top: 3.5rem !important;
    }
    .u-t-md-4 {
        top: 4rem !important;
    }
    .u-r-md-0 {
        right: 0 !important;
    }
    .u-r-md-05 {
        right: .5rem !important;
    }
    .u-r-md-1 {
        right: 1rem !important;
    }
    .u-r-md-15 {
        right: 1.5rem !important;
    }
    .u-r-md-2 {
        right: 2rem !important;
    }
    .u-r-md-25 {
        right: 2.5rem !important;
    }
    .u-r-md-3 {
        right: 3rem !important;
    }
    .u-r-md-35 {
        right: 3.5rem !important;
    }
    .u-r-md-4 {
        right: 4rem !important;
    }
    .u-b-md-0 {
        bottom: 0 !important;
    }
    .u-b-md-05 {
        bottom: .5rem !important;
    }
    .u-b-md-1 {
        bottom: 1rem !important;
    }
    .u-b-md-15 {
        bottom: 1.5rem !important;
    }
    .u-b-md-2 {
        bottom: 2rem !important;
    }
    .u-b-md-25 {
        bottom: 2.5rem !important;
    }
    .u-b-md-3 {
        bottom: 3rem !important;
    }
    .u-b-md-35 {
        bottom: 3.5rem !important;
    }
    .u-b-md-4 {
        bottom: 4rem !important;
    }
    .u-l-md-0 {
        left: 0 !important;
    }
    .u-l-md-05 {
        left: .5rem !important;
    }
    .u-l-md-1 {
        left: 1rem !important;
    }
    .u-l-md-15 {
        left: 1.5rem !important;
    }
    .u-l-md-2 {
        left: 2rem !important;
    }
    .u-l-md-25 {
        left: 2.5rem !important;
    }
    .u-l-md-3 {
        left: 3rem !important;
    }
    .u-l-md-35 {
        left: 3.5rem !important;
    }
    .u-l-md-4 {
        left: 4rem !important;
    }
    .u-m-md-0, .u-my-md-0, .u-mt-md-0 {
        margin-top: 0 !important;
    }
    .u-m-md-05, .u-my-md-05, .u-mt-md-05 {
        margin-top: .5rem !important;
    }
    .u-m-md-1, .u-my-md-1, .u-mt-md-1 {
        margin-top: 1rem !important;
    }
    .u-m-md-15, .u-my-md-15, .u-mt-md-15 {
        margin-top: 1.5rem !important;
    }
    .u-m-md-2, .u-my-md-2, .u-mt-md-2 {
        margin-top: 2rem !important;
    }
    .u-m-md-25, .u-my-md-25, .u-mt-md-25 {
        margin-top: 2.5rem !important;
    }
    .u-m-md-3, .u-my-md-3, .u-mt-md-3 {
        margin-top: 3rem !important;
    }
    .u-m-md-35, .u-my-md-35, .u-mt-md-35 {
        margin-top: 3.5rem !important;
    }
    .u-m-md-4, .u-my-md-4, .u-mt-md-4 {
        margin-top: 4rem !important;
    }
    .u-m-md-0, .u-mx-md-0, .u-mr-md-0 {
        margin-right: 0 !important;
    }
    .u-m-md-05, .u-mx-md-05, .u-mr-md-05 {
        margin-right: .5rem !important;
    }
    .u-m-md-1, .u-mx-md-1, .u-mr-md-1 {
        margin-right: 1rem !important;
    }
    .u-m-md-15, .u-mx-md-15, .u-mr-md-15 {
        margin-right: 1.5rem !important;
    }
    .u-m-md-2, .u-mx-md-2, .u-mr-md-2 {
        margin-right: 2rem !important;
    }
    .u-m-md-25, .u-mx-md-25, .u-mr-md-25 {
        margin-right: 2.5rem !important;
    }
    .u-m-md-3, .u-mx-md-3, .u-mr-md-3 {
        margin-right: 3rem !important;
    }
    .u-m-md-35, .u-mx-md-35, .u-mr-md-35 {
        margin-right: 3.5rem !important;
    }
    .u-m-md-4, .u-mx-md-4, .u-mr-md-4 {
        margin-right: 4rem !important;
    }
    .u-m-md-0, .u-my-md-0, .u-mb-md-0 {
        margin-bottom: 0 !important;
    }
    .u-m-md-05, .u-my-md-05, .u-mb-md-05 {
        margin-bottom: .5rem !important;
    }
    .u-m-md-1, .u-my-md-1, .u-mb-md-1 {
        margin-bottom: 1rem !important;
    }
    .u-m-md-15, .u-my-md-15, .u-mb-md-15 {
        margin-bottom: 1.5rem !important;
    }
    .u-m-md-2, .u-my-md-2, .u-mb-md-2 {
        margin-bottom: 2rem !important;
    }
    .u-m-md-25, .u-my-md-25, .u-mb-md-25 {
        margin-bottom: 2.5rem !important;
    }
    .u-m-md-3, .u-my-md-3, .u-mb-md-3 {
        margin-bottom: 3rem !important;
    }
    .u-m-md-35, .u-my-md-35, .u-mb-md-35 {
        margin-bottom: 3.5rem !important;
    }
    .u-m-md-4, .u-my-md-4, .u-mb-md-4 {
        margin-bottom: 4rem !important;
    }
    .u-m-md-0, .u-mx-md-0, .u-ml-md-0 {
        margin-left: 0 !important;
    }
    .u-m-md-05, .u-mx-md-05, .u-ml-md-05 {
        margin-left: .5rem !important;
    }
    .u-m-md-1, .u-mx-md-1, .u-ml-md-1 {
        margin-left: 1rem !important;
    }
    .u-m-md-15, .u-mx-md-15, .u-ml-md-15 {
        margin-left: 1.5rem !important;
    }
    .u-m-md-2, .u-mx-md-2, .u-ml-md-2 {
        margin-left: 2rem !important;
    }
    .u-m-md-25, .u-mx-md-25, .u-ml-md-25 {
        margin-left: 2.5rem !important;
    }
    .u-m-md-3, .u-mx-md-3, .u-ml-md-3 {
        margin-left: 3rem !important;
    }
    .u-m-md-35, .u-mx-md-35, .u-ml-md-35 {
        margin-left: 3.5rem !important;
    }
    .u-m-md-4, .u-mx-md-4, .u-ml-md-4 {
        margin-left: 4rem !important;
    }
    .u-p-md-0, .u-py-md-0, .u-pt-md-0 {
        padding-top: 0 !important;
    }
    .u-p-md-05, .u-py-md-05, .u-pt-md-05 {
        padding-top: .5rem !important;
    }
    .u-p-md-1, .u-py-md-1, .u-pt-md-1 {
        padding-top: 1rem !important;
    }
    .u-p-md-15, .u-py-md-15, .u-pt-md-15 {
        padding-top: 1.5rem !important;
    }
    .u-p-md-2, .u-py-md-2, .u-pt-md-2 {
        padding-top: 2rem !important;
    }
    .u-p-md-25, .u-py-md-25, .u-pt-md-25 {
        padding-top: 2.5rem !important;
    }
    .u-p-md-3, .u-py-md-3, .u-pt-md-3 {
        padding-top: 3rem !important;
    }
    .u-p-md-35, .u-py-md-35, .u-pt-md-35 {
        padding-top: 3.5rem !important;
    }
    .u-p-md-4, .u-py-md-4, .u-pt-md-4 {
        padding-top: 4rem !important;
    }
    .u-p-md-0, .u-px-md-0, .u-pr-md-0 {
        padding-right: 0 !important;
    }
    .u-p-md-05, .u-px-md-05, .u-pr-md-05 {
        padding-right: .5rem !important;
    }
    .u-p-md-1, .u-px-md-1, .u-pr-md-1 {
        padding-right: 1rem !important;
    }
    .u-p-md-15, .u-px-md-15, .u-pr-md-15 {
        padding-right: 1.5rem !important;
    }
    .u-p-md-2, .u-px-md-2, .u-pr-md-2 {
        padding-right: 2rem !important;
    }
    .u-p-md-25, .u-px-md-25, .u-pr-md-25 {
        padding-right: 2.5rem !important;
    }
    .u-p-md-3, .u-px-md-3, .u-pr-md-3 {
        padding-right: 3rem !important;
    }
    .u-p-md-35, .u-px-md-35, .u-pr-md-35 {
        padding-right: 3.5rem !important;
    }
    .u-p-md-4, .u-px-md-4, .u-pr-md-4 {
        padding-right: 4rem !important;
    }
    .u-p-md-0, .u-py-md-0, .u-pb-md-0 {
        padding-bottom: 0 !important;
    }
    .u-p-md-05, .u-py-md-05, .u-pb-md-05 {
        padding-bottom: .5rem !important;
    }
    .u-p-md-1, .u-py-md-1, .u-pb-md-1 {
        padding-bottom: 1rem !important;
    }
    .u-p-md-15, .u-py-md-15, .u-pb-md-15 {
        padding-bottom: 1.5rem !important;
    }
    .u-p-md-2, .u-py-md-2, .u-pb-md-2 {
        padding-bottom: 2rem !important;
    }
    .u-p-md-25, .u-py-md-25, .u-pb-md-25 {
        padding-bottom: 2.5rem !important;
    }
    .u-p-md-3, .u-py-md-3, .u-pb-md-3 {
        padding-bottom: 3rem !important;
    }
    .u-p-md-35, .u-py-md-35, .u-pb-md-35 {
        padding-bottom: 3.5rem !important;
    }
    .u-p-md-4, .u-py-md-4, .u-pb-md-4 {
        padding-bottom: 4rem !important;
    }
    .u-p-md-0, .u-px-md-0, .u-pl-md-0 {
        padding-left: 0 !important;
    }
    .u-p-md-05, .u-px-md-05, .u-pl-md-05 {
        padding-left: .5rem !important;
    }
    .u-p-md-1, .u-px-md-1, .u-pl-md-1 {
        padding-left: 1rem !important;
    }
    .u-p-md-15, .u-px-md-15, .u-pl-md-15 {
        padding-left: 1.5rem !important;
    }
    .u-p-md-2, .u-px-md-2, .u-pl-md-2 {
        padding-left: 2rem !important;
    }
    .u-p-md-25, .u-px-md-25, .u-pl-md-25 {
        padding-left: 2.5rem !important;
    }
    .u-p-md-3, .u-px-md-3, .u-pl-md-3 {
        padding-left: 3rem !important;
    }
    .u-p-md-35, .u-px-md-35, .u-pl-md-35 {
        padding-left: 3.5rem !important;
    }
    .u-p-md-4, .u-px-md-4, .u-pl-md-4 {
        padding-left: 4rem !important;
    }
    .u-fs-md-05 {
        font-size: .5rem !important;
    }
    .u-fs-md-1 {
        font-size: 1rem !important;
    }
    .u-fs-md-15 {
        font-size: 1.5rem !important;
    }
    .u-fs-md-2 {
        font-size: 2rem !important;
    }
    .u-fs-md-25 {
        font-size: 2.5rem !important;
    }
    .u-fs-md-3 {
        font-size: 3rem !important;
    }
    .u-fs-md-35 {
        font-size: 3.5rem !important;
    }
    .u-fs-md-4 {
        font-size: 4rem !important;
    }
    .u-fw-md-100 {
        font-weight: 100 !important;
    }
    .u-fw-md-200 {
        font-weight: 200 !important;
    }
    .u-fw-md-300 {
        font-weight: 300 !important;
    }
    .u-fw-md-400 {
        font-weight: 400 !important;
    }
    .u-fw-md-500 {
        font-weight: 500 !important;
    }
    .u-fw-md-600 {
        font-weight: 600 !important;
    }
    .u-fw-md-700 {
        font-weight: 700 !important;
    }
    .u-fw-md-800 {
        font-weight: 800 !important;
    }
    .u-fw-md-900 {
        font-weight: 900 !important;
    }
    .u-border-md {
        border: 1px solid !important;
    }
    .u-border-md-top {
        border-top: 1px solid !important;
    }
    .u-border-md-right {
        border-right: 1px solid !important;
    }
    .u-border-md-bottom {
        border-bottom: 1px solid !important;
    }
    .u-border-md-left {
        border-left: 1px solid !important;
    }
    .u-border-md-0 {
        border: 0 !important;
    }
    .u-border-md-top-0 {
        border-top: 0 !important;
    }
    .u-border-md-right-0 {
        border-right: 0 !important;
    }
    .u-border-md-bottom-0 {
        border-bottom: 0 !important;
    }
    .u-border-md-left-0 {
        border-left: 0 !important;
    }
    .u-position-md-static {
        position: static !important;
    }
    .u-position-md-relative {
        position: relative !important;
    }
    .u-position-md-absolute {
        position: absolute !important;
    }
    .u-position-md-fixed {
        position: fixed !important;
    } 
    .u-position-md-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .u-md-h1 {
        font-size: 2.5rem;
    } 
    .u-md-h2 {
        font-size: 2rem;
    } 
    .u-md-h3 {
        font-size: 1.75rem;
    } 
    .u-md-h4 {
        font-size: 1.5rem;
    } 
    .u-md-h5 {
        font-size: 1.25rem;
    }  
    .u-md-h6 {
        font-size: 1rem;
    }   
}
@media (min-width: 992px) {
    .u-t-lg-0 {
        top: 0 !important;
    }
    .u-t-lg-05 {
        top: .5rem !important;
    }
    .u-t-lg-1 {
        top: 1rem !important;
    }
    .u-t-lg-15 {
        top: 1.5rem !important;
    }
    .u-t-lg-2 {
        top: 2rem !important;
    }
    .u-t-lg-25 {
        top: 2.5rem !important;
    }
    .u-t-lg-3 {
        top: 3rem !important;
    }
    .u-t-lg-35 {
        top: 3.5rem !important;
    }
    .u-t-lg-4 {
        top: 4rem !important;
    }
    .u-r-lg-0 {
        right: 0 !important;
    }
    .u-r-lg-05 {
        right: .5rem !important;
    }
    .u-r-lg-1 {
        right: 1rem !important;
    }
    .u-r-lg-15 {
        right: 1.5rem !important;
    }
    .u-r-lg-2 {
        right: 2rem !important;
    }
    .u-r-lg-25 {
        right: 2.5rem !important;
    }
    .u-r-lg-3 {
        right: 3rem !important;
    }
    .u-r-lg-35 {
        right: 3.5rem !important;
    }
    .u-r-lg-4 {
        right: 4rem !important;
    }
    .u-b-lg-0 {
        bottom: 0 !important;
    }
    .u-b-lg-05 {
        bottom: .5rem !important;
    }
    .u-b-lg-1 {
        bottom: 1rem !important;
    }
    .u-b-lg-15 {
        bottom: 1.5rem !important;
    }
    .u-b-lg-2 {
        bottom: 2rem !important;
    }
    .u-b-lg-25 {
        bottom: 2.5rem !important;
    }
    .u-b-lg-3 {
        bottom: 3rem !important;
    }
    .u-b-lg-35 {
        bottom: 3.5rem !important;
    }
    .u-b-lg-4 {
        bottom: 4rem !important;
    }
    .u-l-lg-0 {
        left: 0 !important;
    }
    .u-l-lg-05 {
        left: .5rem !important;
    }
    .u-l-lg-1 {
        left: 1rem !important;
    }
    .u-l-lg-15 {
        left: 1.5rem !important;
    }
    .u-l-lg-2 {
        left: 2rem !important;
    }
    .u-l-lg-25 {
        left: 2.5rem !important;
    }
    .u-l-lg-3 {
        left: 3rem !important;
    }
    .u-l-lg-35 {
        left: 3.5rem !important;
    }
    .u-l-lg-4 {
        left: 4rem !important;
    }
    .u-m-lg-0, .u-my-lg-0, .u-mt-lg-0 {
        margin-top: 0 !important;
    }
    .u-m-lg-05, .u-my-lg-05, .u-mt-lg-05 {
        margin-top: .5rem !important;
    }
    .u-m-lg-1, .u-my-lg-1, .u-mt-lg-1 {
        margin-top: 1rem !important;
    }
    .u-m-lg-15, .u-my-lg-15, .u-mt-lg-15 {
        margin-top: 1.5rem !important;
    }
    .u-m-lg-2, .u-my-lg-2, .u-mt-lg-2 {
        margin-top: 2rem !important;
    }
    .u-m-lg-25, .u-my-lg-25, .u-mt-lg-25 {
        margin-top: 2.5rem !important;
    }
    .u-m-lg-3, .u-my-lg-3, .u-mt-lg-3 {
        margin-top: 3rem !important;
    }
    .u-m-lg-35, .u-my-lg-35, .u-mt-lg-35 {
        margin-top: 3.5rem !important;
    }
    .u-m-lg-4, .u-my-lg-4, .u-mt-lg-4 {
        margin-top: 4rem !important;
    }
    .u-m-lg-0, .u-mx-lg-0, .u-mr-lg-0 {
        margin-right: 0 !important;
    }
    .u-m-lg-05, .u-mx-lg-05, .u-mr-lg-05 {
        margin-right: .5rem !important;
    }
    .u-m-lg-1, .u-mx-lg-1, .u-mr-lg-1 {
        margin-right: 1rem !important;
    }
    .u-m-lg-15, .u-mx-lg-15, .u-mr-lg-15 {
        margin-right: 1.5rem !important;
    }
    .u-m-lg-2, .u-mx-lg-2, .u-mr-lg-2 {
        margin-right: 2rem !important;
    }
    .u-m-lg-25, .u-mx-lg-25, .u-mr-lg-25 {
        margin-right: 2.5rem !important;
    }
    .u-m-lg-3, .u-mx-lg-3, .u-mr-lg-3 {
        margin-right: 3rem !important;
    }
    .u-m-lg-35, .u-mx-lg-35, .u-mr-lg-35 {
        margin-right: 3.5rem !important;
    }
    .u-m-lg-4, .u-mx-lg-4, .u-mr-lg-4 {
        margin-right: 4rem !important;
    }
    .u-m-lg-0, .u-my-lg-0, .u-mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .u-m-lg-05, .u-my-lg-05, .u-mb-lg-05 {
        margin-bottom: .5rem !important;
    }
    .u-m-lg-1, .u-my-lg-1, .u-mb-lg-1 {
        margin-bottom: 1rem !important;
    }
    .u-m-lg-15, .u-my-lg-15, .u-mb-lg-15 {
        margin-bottom: 1.5rem !important;
    }
    .u-m-lg-2, .u-my-lg-2, .u-mb-lg-2 {
        margin-bottom: 2rem !important;
    }
    .u-m-lg-25, .u-my-lg-25, .u-mb-lg-25 {
        margin-bottom: 2.5rem !important;
    }
    .u-m-lg-3, .u-my-lg-3, .u-mb-lg-3 {
        margin-bottom: 3rem !important;
    }
    .u-m-lg-35, .u-my-lg-35, .u-mb-lg-35 {
        margin-bottom: 3.5rem !important;
    }
    .u-m-lg-4, .u-my-lg-4, .u-mb-lg-4 {
        margin-bottom: 4rem !important;
    }
    .u-m-lg-0, .u-mx-lg-0, .u-ml-lg-0 {
        margin-left: 0 !important;
    }
    .u-m-lg-05, .u-mx-lg-05, .u-ml-lg-05 {
        margin-left: .5rem !important;
    }
    .u-m-lg-1, .u-mx-lg-1, .u-ml-lg-1 {
        margin-left: 1rem !important;
    }
    .u-m-lg-15, .u-mx-lg-15, .u-ml-lg-15 {
        margin-left: 1.5rem !important;
    }
    .u-m-lg-2, .u-mx-lg-2, .u-ml-lg-2 {
        margin-left: 2rem !important;
    }
    .u-m-lg-25, .u-mx-lg-25, .u-ml-lg-25 {
        margin-left: 2.5rem !important;
    }
    .u-m-lg-3, .u-mx-lg-3, .u-ml-lg-3 {
        margin-left: 3rem !important;
    }
    .u-m-lg-35, .u-mx-lg-35, .u-ml-lg-35 {
        margin-left: 3.5rem !important;
    }
    .u-m-lg-4, .u-mx-lg-4, .u-ml-lg-4 {
        margin-left: 4rem !important;
    }
    .u-p-lg-0, .u-py-lg-0, .u-pt-lg-0 {
        padding-top: 0 !important;
    }
    .u-p-lg-05, .u-py-lg-05, .u-pt-lg-05 {
        padding-top: .5rem !important;
    }
    .u-p-lg-1, .u-py-lg-1, .u-pt-lg-1 {
        padding-top: 1rem !important;
    }
    .u-p-lg-15, .u-py-lg-15, .u-pt-lg-15 {
        padding-top: 1.5rem !important;
    }
    .u-p-lg-2, .u-py-lg-2, .u-pt-lg-2 {
        padding-top: 2rem !important;
    }
    .u-p-lg-25, .u-py-lg-25, .u-pt-lg-25 {
        padding-top: 2.5rem !important;
    }
    .u-p-lg-3, .u-py-lg-3, .u-pt-lg-3 {
        padding-top: 3rem !important;
    }
    .u-p-lg-35, .u-py-lg-35, .u-pt-lg-35 {
        padding-top: 3.5rem !important;
    }
    .u-p-lg-4, .u-py-lg-4, .u-pt-lg-4 {
        padding-top: 4rem !important;
    }
    .u-p-lg-0, .u-px-lg-0, .u-pr-lg-0 {
        padding-right: 0 !important;
    }
    .u-p-lg-05, .u-px-lg-05, .u-pr-lg-05 {
        padding-right: .5rem !important;
    }
    .u-p-lg-1, .u-px-lg-1, .u-pr-lg-1 {
        padding-right: 1rem !important;
    }
    .u-p-lg-15, .u-px-lg-15, .u-pr-lg-15 {
        padding-right: 1.5rem !important;
    }
    .u-p-lg-2, .u-px-lg-2, .u-pr-lg-2 {
        padding-right: 2rem !important;
    }
    .u-p-lg-25, .u-px-lg-25, .u-pr-lg-25 {
        padding-right: 2.5rem !important;
    }
    .u-p-lg-3, .u-px-lg-3, .u-pr-lg-3 {
        padding-right: 3rem !important;
    }
    .u-p-lg-35, .u-px-lg-35, .u-pr-lg-35 {
        padding-right: 3.5rem !important;
    }
    .u-p-lg-4, .u-px-lg-4, .u-pr-lg-4 {
        padding-right: 4rem !important;
    }
    .u-p-lg-0, .u-py-lg-0, .u-pb-lg-0 {
        padding-bottom: 0 !important;
    }
    .u-p-lg-05, .u-py-lg-05, .u-pb-lg-05 {
        padding-bottom: .5rem !important;
    }
    .u-p-lg-1, .u-py-lg-1, .u-pb-lg-1 {
        padding-bottom: 1rem !important;
    }
    .u-p-lg-15, .u-py-lg-15, .u-pb-lg-15 {
        padding-bottom: 1.5rem !important;
    }
    .u-p-lg-2, .u-py-lg-2, .u-pb-lg-2 {
        padding-bottom: 2rem !important;
    }
    .u-p-lg-25, .u-py-lg-25, .u-pb-lg-25 {
        padding-bottom: 2.5rem !important;
    }
    .u-p-lg-3, .u-py-lg-3, .u-pb-lg-3 {
        padding-bottom: 3rem !important;
    }
    .u-p-lg-35, .u-py-lg-35, .u-pb-lg-35 {
        padding-bottom: 3.5rem !important;
    }
    .u-p-lg-4, .u-py-lg-4, .u-pb-lg-4 {
        padding-bottom: 4rem !important;
    }
    .u-p-lg-0, .u-px-lg-0, .u-pl-lg-0 {
        padding-left: 0 !important;
    }
    .u-p-lg-05, .u-px-lg-05, .u-pl-lg-05 {
        padding-left: .5rem !important;
    }
    .u-p-lg-1, .u-px-lg-1, .u-pl-lg-1 {
        padding-left: 1rem !important;
    }
    .u-p-lg-15, .u-px-lg-15, .u-pl-lg-15 {
        padding-left: 1.5rem !important;
    }
    .u-p-lg-2, .u-px-lg-2, .u-pl-lg-2 {
        padding-left: 2rem !important;
    }
    .u-p-lg-25, .u-px-lg-25, .u-pl-lg-25 {
        padding-left: 2.5rem !important;
    }
    .u-p-lg-3, .u-px-lg-3, .u-pl-lg-3 {
        padding-left: 3rem !important;
    }
    .u-p-lg-35, .u-px-lg-35, .u-pl-lg-35 {
        padding-left: 3.5rem !important;
    }
    .u-p-lg-4, .u-px-lg-4, .u-pl-lg-4 {
        padding-left: 4rem !important;
    }
    .u-fs-lg-05 {
        font-size: .5rem !important;
    }
    .u-fs-lg-1 {
        font-size: 1rem !important;
    }
    .u-fs-lg-15 {
        font-size: 1.5rem !important;
    }
    .u-fs-lg-2 {
        font-size: 2rem !important;
    }
    .u-fs-lg-25 {
        font-size: 2.5rem !important;
    }
    .u-fs-lg-3 {
        font-size: 3rem !important;
    }
    .u-fs-lg-35 {
        font-size: 3.5rem !important;
    }
    .u-fs-lg-4 {
        font-size: 4rem !important;
    }
    .u-fw-lg-100 {
        font-weight: 100 !important;
    }
    .u-fw-lg-200 {
        font-weight: 200 !important;
    }
    .u-fw-lg-300 {
        font-weight: 300 !important;
    }
    .u-fw-lg-400 {
        font-weight: 400 !important;
    }
    .u-fw-lg-500 {
        font-weight: 500 !important;
    }
    .u-fw-lg-600 {
        font-weight: 600 !important;
    }
    .u-fw-lg-700 {
        font-weight: 700 !important;
    }
    .u-fw-lg-800 {
        font-weight: 800 !important;
    }
    .u-fw-lg-900 {
        font-weight: 900 !important;
    }
    .u-border-lg {
        border: 1px solid !important;
    }
    .u-border-lg-top {
        border-top: 1px solid !important;
    }
    .u-border-lg-right {
        border-right: 1px solid !important;
    }
    .u-border-lg-bottom {
        border-bottom: 1px solid !important;
    }
    .u-border-lg-left {
        border-left: 1px solid !important;
    }
    .u-border-lg-0 {
        border: 0 !important;
    }
    .u-border-lg-top-0 {
        border-top: 0 !important;
    }
    .u-border-lg-right-0 {
        border-right: 0 !important;
    }
    .u-border-lg-bottom-0 {
        border-bottom: 0 !important;
    }
    .u-border-lg-left-0 {
        border-left: 0 !important;
    }
    .u-position-lg-static {
        position: static !important;
    }
    .u-position-lg-relative {
        position: relative !important;
    }
    .u-position-lg-absolute {
        position: absolute !important;
    }
    .u-position-lg-fixed {
        position: fixed !important;
    } 
    .u-position-lg-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .u-lg-h1 {
        font-size: 2.5rem;
    } 
    .u-lg-h2 {
        font-size: 2rem;
    } 
    .u-lg-h3 {
        font-size: 1.75rem;
    } 
    .u-lg-h4 {
        font-size: 1.5rem;
    } 
    .u-lg-h5 {
        font-size: 1.25rem;
    }  
    .u-lg-h6 {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    .u-t-xl-0 {
        top: 0 !important;
    }
    .u-t-xl-05 {
        top: .5rem !important;
    }
    .u-t-xl-1 {
        top: 1rem !important;
    }
    .u-t-xl-15 {
        top: 1.5rem !important;
    }
    .u-t-xl-2 {
        top: 2rem !important;
    }
    .u-t-xl-25 {
        top: 2.5rem !important;
    }
    .u-t-xl-3 {
        top: 3rem !important;
    }
    .u-t-xl-35 {
        top: 3.5rem !important;
    }
    .u-t-xl-4 {
        top: 4rem !important;
    }
    .u-r-xl-0 {
        right: 0 !important;
    }
    .u-r-xl-05 {
        right: .5rem !important;
    }
    .u-r-xl-1 {
        right: 1rem !important;
    }
    .u-r-xl-15 {
        right: 1.5rem !important;
    }
    .u-r-xl-2 {
        right: 2rem !important;
    }
    .u-r-xl-25 {
        right: 2.5rem !important;
    }
    .u-r-xl-3 {
        right: 3rem !important;
    }
    .u-r-xl-35 {
        right: 3.5rem !important;
    }
    .u-r-xl-4 {
        right: 4rem !important;
    }
    .u-b-xl-0 {
        bottom: 0 !important;
    }
    .u-b-xl-05 {
        bottom: .5rem !important;
    }
    .u-b-xl-1 {
        bottom: 1rem !important;
    }
    .u-b-xl-15 {
        bottom: 1.5rem !important;
    }
    .u-b-xl-2 {
        bottom: 2rem !important;
    }
    .u-b-xl-25 {
        bottom: 2.5rem !important;
    }
    .u-b-xl-3 {
        bottom: 3rem !important;
    }
    .u-b-xl-35 {
        bottom: 3.5rem !important;
    }
    .u-b-xl-4 {
        bottom: 4rem !important;
    }
    .u-l-xl-0 {
        left: 0 !important;
    }
    .u-l-xl-05 {
        left: .5rem !important;
    }
    .u-l-xl-1 {
        left: 1rem !important;
    }
    .u-l-xl-15 {
        left: 1.5rem !important;
    }
    .u-l-xl-2 {
        left: 2rem !important;
    }
    .u-l-xl-25 {
        left: 2.5rem !important;
    }
    .u-l-xl-3 {
        left: 3rem !important;
    }
    .u-l-xl-35 {
        left: 3.5rem !important;
    }
    .u-l-xl-4 {
        left: 4rem !important;
    }
    .u-m-xl-0, .u-my-xl-0, .u-mt-xl-0 {
        margin-top: 0 !important;
    }
    .u-m-xl-05, .u-my-xl-05, .u-mt-xl-05 {
        margin-top: .5rem !important;
    }
    .u-m-xl-1, .u-my-xl-1, .u-mt-xl-1 {
        margin-top: 1rem !important;
    }
    .u-m-xl-15, .u-my-xl-15, .u-mt-xl-15 {
        margin-top: 1.5rem !important;
    }
    .u-m-xl-2, .u-my-xl-2, .u-mt-xl-2 {
        margin-top: 2rem !important;
    }
    .u-m-xl-25, .u-my-xl-25, .u-mt-xl-25 {
        margin-top: 2.5rem !important;
    }
    .u-m-xl-3, .u-my-xl-3, .u-mt-xl-3 {
        margin-top: 3rem !important;
    }
    .u-m-xl-35, .u-my-xl-35, .u-mt-xl-35 {
        margin-top: 3.5rem !important;
    }
    .u-m-xl-4, .u-my-xl-4, .u-mt-xl-4 {
        margin-top: 4rem !important;
    }
    .u-m-xl-0, .u-mx-xl-0, .u-mr-xl-0 {
        margin-right: 0 !important;
    }
    .u-m-xl-05, .u-mx-xl-05, .u-mr-xl-05 {
        margin-right: .5rem !important;
    }
    .u-m-xl-1, .u-mx-xl-1, .u-mr-xl-1 {
        margin-right: 1rem !important;
    }
    .u-m-xl-15, .u-mx-xl-15, .u-mr-xl-15 {
        margin-right: 1.5rem !important;
    }
    .u-m-xl-2, .u-mx-xl-2, .u-mr-xl-2 {
        margin-right: 2rem !important;
    }
    .u-m-xl-25, .u-mx-xl-25, .u-mr-xl-25 {
        margin-right: 2.5rem !important;
    }
    .u-m-xl-3, .u-mx-xl-3, .u-mr-xl-3 {
        margin-right: 3rem !important;
    }
    .u-m-xl-35, .u-mx-xl-35, .u-mr-xl-35 {
        margin-right: 3.5rem !important;
    }
    .u-m-xl-4, .u-mx-xl-4, .u-mr-xl-4 {
        margin-right: 4rem !important;
    }
    .u-m-xl-0, .u-my-xl-0, .u-mb-xl-0 {
        margin-bottom: 0 !important;
    }
    .u-m-xl-05, .u-my-xl-05, .u-mb-xl-05 {
        margin-bottom: .5rem !important;
    }
    .u-m-xl-1, .u-my-xl-1, .u-mb-xl-1 {
        margin-bottom: 1rem !important;
    }
    .u-m-xl-15, .u-my-xl-15, .u-mb-xl-15 {
        margin-bottom: 1.5rem !important;
    }
    .u-m-xl-2, .u-my-xl-2, .u-mb-xl-2 {
        margin-bottom: 2rem !important;
    }
    .u-m-xl-25, .u-my-xl-25, .u-mb-xl-25 {
        margin-bottom: 2.5rem !important;
    }
    .u-m-xl-3, .u-my-xl-3, .u-mb-xl-3 {
        margin-bottom: 3rem !important;
    }
    .u-m-xl-35, .u-my-xl-35, .u-mb-xl-35 {
        margin-bottom: 3.5rem !important;
    }
    .u-m-xl-4, .u-my-xl-4, .u-mb-xl-4 {
        margin-bottom: 4rem !important;
    }
    .u-m-xl-0, .u-mx-xl-0, .u-ml-xl-0 {
        margin-left: 0 !important;
    }
    .u-m-xl-05, .u-mx-xl-05, .u-ml-xl-05 {
        margin-left: .5rem !important;
    }
    .u-m-xl-1, .u-mx-xl-1, .u-ml-xl-1 {
        margin-left: 1rem !important;
    }
    .u-m-xl-15, .u-mx-xl-15, .u-ml-xl-15 {
        margin-left: 1.5rem !important;
    }
    .u-m-xl-2, .u-mx-xl-2, .u-ml-xl-2 {
        margin-left: 2rem !important;
    }
    .u-m-xl-25, .u-mx-xl-25, .u-ml-xl-25 {
        margin-left: 2.5rem !important;
    }
    .u-m-xl-3, .u-mx-xl-3, .u-ml-xl-3 {
        margin-left: 3rem !important;
    }
    .u-m-xl-35, .u-mx-xl-35, .u-ml-xl-35 {
        margin-left: 3.5rem !important;
    }
    .u-m-xl-4, .u-mx-xl-4, .u-ml-xl-4 {
        margin-left: 4rem !important;
    }
    .u-p-xl-0, .u-py-xl-0, .u-pt-xl-0 {
        padding-top: 0 !important;
    }
    .u-p-xl-05, .u-py-xl-05, .u-pt-xl-05 {
        padding-top: .5rem !important;
    }
    .u-p-xl-1, .u-py-xl-1, .u-pt-xl-1 {
        padding-top: 1rem !important;
    }
    .u-p-xl-15, .u-py-xl-15, .u-pt-xl-15 {
        padding-top: 1.5rem !important;
    }
    .u-p-xl-2, .u-py-xl-2, .u-pt-xl-2 {
        padding-top: 2rem !important;
    }
    .u-p-xl-25, .u-py-xl-25, .u-pt-xl-25 {
        padding-top: 2.5rem !important;
    }
    .u-p-xl-3, .u-py-xl-3, .u-pt-xl-3 {
        padding-top: 3rem !important;
    }
    .u-p-xl-35, .u-py-xl-35, .u-pt-xl-35 {
        padding-top: 3.5rem !important;
    }
    .u-p-xl-4, .u-py-xl-4, .u-pt-xl-4 {
        padding-top: 4rem !important;
    }
    .u-p-xl-0, .u-px-xl-0, .u-pr-xl-0 {
        padding-right: 0 !important;
    }
    .u-p-xl-05, .u-px-xl-05, .u-pr-xl-05 {
        padding-right: .5rem !important;
    }
    .u-p-xl-1, .u-px-xl-1, .u-pr-xl-1 {
        padding-right: 1rem !important;
    }
    .u-p-xl-15, .u-px-xl-15, .u-pr-xl-15 {
        padding-right: 1.5rem !important;
    }
    .u-p-xl-2, .u-px-xl-2, .u-pr-xl-2 {
        padding-right: 2rem !important;
    }
    .u-p-xl-25, .u-px-xl-25, .u-pr-xl-25 {
        padding-right: 2.5rem !important;
    }
    .u-p-xl-3, .u-px-xl-3, .u-pr-xl-3 {
        padding-right: 3rem !important;
    }
    .u-p-xl-35, .u-px-xl-35, .u-pr-xl-35 {
        padding-right: 3.5rem !important;
    }
    .u-p-xl-4, .u-px-xl-4, .u-pr-xl-4 {
        padding-right: 4rem !important;
    }
    .u-p-xl-0, .u-py-xl-0, .u-pb-xl-0 {
        padding-bottom: 0 !important;
    }
    .u-p-xl-05, .u-py-xl-05, .u-pb-xl-05 {
        padding-bottom: .5rem !important;
    }
    .u-p-xl-1, .u-py-xl-1, .u-pb-xl-1 {
        padding-bottom: 1rem !important;
    }
    .u-p-xl-15, .u-py-xl-15, .u-pb-xl-15 {
        padding-bottom: 1.5rem !important;
    }
    .u-p-xl-2, .u-py-xl-2, .u-pb-xl-2 {
        padding-bottom: 2rem !important;
    }
    .u-p-xl-25, .u-py-xl-25, .u-pb-xl-25 {
        padding-bottom: 2.5rem !important;
    }
    .u-p-xl-3, .u-py-xl-3, .u-pb-xl-3 {
        padding-bottom: 3rem !important;
    }
    .u-p-xl-35, .u-py-xl-35, .u-pb-xl-35 {
        padding-bottom: 3.5rem !important;
    }
    .u-p-xl-4, .u-py-xl-4, .u-pb-xl-4 {
        padding-bottom: 4rem !important;
    }
    .u-p-xl-0, .u-px-xl-0, .u-pl-xl-0 {
        padding-left: 0 !important;
    }
    .u-p-xl-05, .u-px-xl-05, .u-pl-xl-05 {
        padding-left: .5rem !important;
    }
    .u-p-xl-1, .u-px-xl-1, .u-pl-xl-1 {
        padding-left: 1rem !important;
    }
    .u-p-xl-15, .u-px-xl-15, .u-pl-xl-15 {
        padding-left: 1.5rem !important;
    }
    .u-p-xl-2, .u-px-xl-2, .u-pl-xl-2 {
        padding-left: 2rem !important;
    }
    .u-p-xl-25, .u-px-xl-25, .u-pl-xl-25 {
        padding-left: 2.5rem !important;
    }
    .u-p-xl-3, .u-px-xl-3, .u-pl-xl-3 {
        padding-left: 3rem !important;
    }
    .u-p-xl-35, .u-px-xl-35, .u-pl-xl-35 {
        padding-left: 3.5rem !important;
    }
    .u-p-xl-4, .u-px-xl-4, .u-pl-xl-4 {
        padding-left: 4rem !important;
    }
    .u-fs-xl-05 {
        font-size: .5rem !important;
    }
    .u-fs-xl-1 {
        font-size: 1rem !important;
    }
    .u-fs-xl-15 {
        font-size: 1.5rem !important;
    }
    .u-fs-xl-2 {
        font-size: 2rem !important;
    }
    .u-fs-xl-25 {
        font-size: 2.5rem !important;
    }
    .u-fs-xl-3 {
        font-size: 3rem !important;
    }
    .u-fs-xl-35 {
        font-size: 3.5rem !important;
    }
    .u-fs-xl-4 {
        font-size: 4rem !important;
    }
    .u-fw-xl-100 {
        font-weight: 100 !important;
    }
    .u-fw-xl-200 {
        font-weight: 200 !important;
    }
    .u-fw-xl-300 {
        font-weight: 300 !important;
    }
    .u-fw-xl-400 {
        font-weight: 400 !important;
    }
    .u-fw-xl-500 {
        font-weight: 500 !important;
    }
    .u-fw-xl-600 {
        font-weight: 600 !important;
    }
    .u-fw-xl-700 {
        font-weight: 700 !important;
    }
    .u-fw-xl-800 {
        font-weight: 800 !important;
    }
    .u-fw-xl-900 {
        font-weight: 900 !important;
    }
    .u-border-xl {
        border: 1px solid !important;
    }
    .u-border-xl-top {
        border-top: 1px solid !important;
    }
    .u-border-xl-right {
        border-right: 1px solid !important;
    }
    .u-border-xl-bottom {
        border-bottom: 1px solid !important;
    }
    .u-border-xl-left {
        border-left: 1px solid !important;
    }
    .u-border-xl-0 {
        border: 0 !important;
    }
    .u-border-xl-top-0 {
        border-top: 0 !important;
    }
    .u-border-xl-right-0 {
        border-right: 0 !important;
    }
    .u-border-xl-bottom-0 {
        border-bottom: 0 !important;
    }
    .u-border-xl-left-0 {
        border-left: 0 !important;
    }
    .u-position-xl-static {
        position: static !important;
    }
    .u-position-xl-relative {
        position: relative !important;
    }
    .u-position-xl-absolute {
        position: absolute !important;
    }
    .u-position-xl-fixed {
        position: fixed !important;
    } 
    .u-position-xl-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .u-xl-h1 {
        font-size: 2.5rem;
    } 
    .u-xl-h2 {
        font-size: 2rem;
    } 
    .u-xl-h3 {
        font-size: 1.75rem;
    } 
    .u-xl-h4 {
        font-size: 1.5rem;
    } 
    .u-xl-h5 {
        font-size: 1.25rem;
    }  
    .u-xl-h6 {
        font-size: 1rem;
    }
}