.t-0 {
    top: 0 !important;
}
.t-05 {
    top: .5rem !important;
}
.t-1 {
    top: 1rem !important;
}
.t-15 {
    top: 1.5rem !important;
}
.t-2 {
    top: 2rem !important;
}
.t-25 {
    top: 2.5rem !important;
}
.t-3 {
    top: 3rem !important;
}
.t-35 {
    top: 3.5rem !important;
}
.t-4 {
    top: 4rem !important;
}
.r-0 {
    right: 0 !important;
}
.r-05 {
    right: .5rem !important;
}
.r-1 {
    right: 1rem !important;
}
.r-15 {
    right: 1.5rem !important;
}
.r-2 {
    right: 2rem !important;
}
.r-25 {
    right: 2.5rem !important;
}
.r-3 {
    right: 3rem !important;
}
.r-35 {
    right: 3.5rem !important;
}
.r-4 {
    right: 4rem !important;
}
.b-0 {
    bottom: 0 !important;
}
.b-05 {
    bottom: .5rem !important;
}
.b-1 {
    bottom: 1rem !important;
}
.b-15 {
    bottom: 1.5rem !important;
}
.b-2 {
    bottom: 2rem !important;
}
.b-25 {
    bottom: 2.5rem !important;
}
.b-3 {
    bottom: 3rem !important;
}
.b-35 {
    bottom: 3.5rem !important;
}
.b-4 {
    bottom: 4rem !important;
}
.l-0 {
    left: 0 !important;
}
.l-05 {
    left: .5rem !important;
}
.l-1 {
    left: 1rem !important;
}
.l-15 {
    left: 1.5rem !important;
}
.l-2 {
    left: 2rem !important;
}
.l-25 {
    left: 2.5rem !important;
}
.l-3 {
    left: 3rem !important;
}
.l-35 {
    left: 3.5rem !important;
}
.l-4 {
    left: 4rem !important;
}
.m-0, .my-0, .mt-0 {
    margin-top: 0 !important;
}
.m-05, .my-05, .mt-05 {
    margin-top: .5rem !important;
}
.m-1, .my-1, .mt-1 {
    margin-top: 1rem !important;
}
.m-15, .my-15, .mt-15 {
    margin-top: 1.5rem !important;
}
.m-2, .my-2, .mt-2 {
    margin-top: 2rem !important;
}
.m-25, .my-25, .mt-25 {
    margin-top: 2.5rem !important;
}
.m-3, .my-3, .mt-3 {
    margin-top: 3rem !important;
}
.m-35, .my-35, .mt-35 {
    margin-top: 3.5rem !important;
}
.m-4, .my-4, .mt-4 {
    margin-top: 4rem !important;
}
.m-0, .mx-0, .mr-0 {
    margin-right: 0 !important;
}
.m-05, .mx-05, .mr-05 {
    margin-right: .5rem !important;
}
.m-1, .mx-1, .mr-1 {
    margin-right: 1rem !important;
}
.m-15, .mx-15, .mr-15 {
    margin-right: 1.5rem !important;
}
.m-2, .mx-2, .mr-2 {
    margin-right: 2rem !important;
}
.m-25, .mx-25, .mr-25 {
    margin-right: 2.5rem !important;
}
.m-3, .mx-3, .mr-3 {
    margin-right: 3rem !important;
}
.m-35, .mx-35, .mr-35 {
    margin-right: 3.5rem !important;
}
.m-4, .mx-4, .mr-4 {
    margin-right: 4rem !important;
}
.m-0, .my-0, .mb-0 {
    margin-bottom: 0 !important;
}
.m-05, .my-05, .mb-05 {
    margin-bottom: .5rem !important;
}
.m-1, .my-1, .mb-1 {
    margin-bottom: 1rem !important;
}
.m-15, .my-15, .mb-15 {
    margin-bottom: 1.5rem !important;
}
.m-2, .my-2, .mb-2 {
    margin-bottom: 2rem !important;
}
.m-25, .my-25, .mb-25 {
    margin-bottom: 2.5rem !important;
}
.m-3, .my-3, .mb-3 {
    margin-bottom: 3rem !important;
}
.m-35, .my-35, .mb-35 {
    margin-bottom: 3.5rem !important;
}
.m-4, .my-4, .mb-4 {
    margin-bottom: 4rem !important;
}
.m-0, .mx-0, .ml-0 {
    margin-left: 0 !important;
}
.m-05, .mx-05, .ml-05 {
    margin-left: .5rem !important;
}
.m-1, .mx-1, .ml-1 {
    margin-left: 1rem !important;
}
.m-15, .mx-15, .ml-15 {
    margin-left: 1.5rem !important;
}
.m-2, .mx-2, .ml-2 {
    margin-left: 2rem !important;
}
.m-25, .mx-25, .ml-25 {
    margin-left: 2.5rem !important;
}
.m-3, .mx-3, .ml-3 {
    margin-left: 3rem !important;
}
.m-35, .mx-35, .ml-35 {
    margin-left: 3.5rem !important;
}
.m-4, .mx-4, .ml-4 {
    margin-left: 4rem !important;
}
.p-0, .py-0, .pt-0 {
    padding-top: 0 !important;
}
.p-05, .py-05, .pt-05 {
    padding-top: .5rem !important;
}
.p-1, .py-1, .pt-1 {
    padding-top: 1rem !important;
}
.p-15, .py-15, .pt-15 {
    padding-top: 1.5rem !important;
}
.p-2, .py-2, .pt-2 {
    padding-top: 2rem !important;
}
.p-25, .py-25, .pt-25 {
    padding-top: 2.5rem !important;
}
.p-3, .py-3, .pt-3 {
    padding-top: 3rem !important;
}
.p-35, .py-35, .pt-35 {
    padding-top: 3.5rem !important;
}
.p-4, .py-4, .pt-4 {
    padding-top: 4rem !important;
}
.p-0, .px-0, .pr-0 {
    padding-right: 0 !important;
}
.p-05, .px-05, .pr-05 {
    padding-right: .5rem !important;
}
.p-1, .px-1, .pr-1 {
    padding-right: 1rem !important;
}
.p-15, .px-15, .pr-15 {
    padding-right: 1.5rem !important;
}
.p-2, .px-2, .pr-2 {
    padding-right: 2rem !important;
}
.p-25, .px-25, .pr-25 {
    padding-right: 2.5rem !important;
}
.p-3, .px-3, .pr-3 {
    padding-right: 3rem !important;
}
.p-35, .px-35, .pr-35 {
    padding-right: 3.5rem !important;
}
.p-4, .px-4, .pr-4 {
    padding-right: 4rem !important;
}
.p-0, .py-0, .pb-0 {
    padding-bottom: 0 !important;
}
.p-05, .py-05, .pb-05 {
    padding-bottom: .5rem !important;
}
.p-1, .py-1, .pb-1 {
    padding-bottom: 1rem !important;
}
.p-15, .py-15, .pb-15 {
    padding-bottom: 1.5rem !important;
}
.p-2, .py-2, .pb-2 {
    padding-bottom: 2rem !important;
}
.p-25, .py-25, .pb-25 {
    padding-bottom: 2.5rem !important;
}
.p-3, .py-3, .pb-3 {
    padding-bottom: 3rem !important;
}
.p-35, .py-35, .pb-35 {
    padding-bottom: 3.5rem !important;
}
.p-4, .py-4, .pb-4 {
    padding-bottom: 4rem !important;
}
.p-0, .px-0, .pl-0 {
    padding-left: 0 !important;
}
.p-05, .px-05, .pl-05 {
    padding-left: .5rem !important;
}
.p-1, .px-1, .pl-1 {
    padding-left: 1rem !important;
}
.p-15, .px-15, .pl-15 {
    padding-left: 1.5rem !important;
}
.p-2, .px-2, .pl-2 {
    padding-left: 2rem !important;
}
.p-25, .px-25, .pl-25 {
    padding-left: 2.5rem !important;
}
.p-3, .px-3, .pl-3 {
    padding-left: 3rem !important;
}
.p-35, .px-35, .pl-35 {
    padding-left: 3.5rem !important;
}
.p-4, .px-4, .pl-4 {
    padding-left: 4rem !important;
}
.fs-05 {
    font-size: .5rem !important;
}
.fs-1 {
    font-size: 1rem !important;
}
.fs-15 {
    font-size: 1.5rem !important;
}
.fs-2 {
    font-size: 2rem !important;
}
.fs-25 {
    font-size: 2.5rem !important;
}
.fs-3 {
    font-size: 3rem !important;
}
.fs-35 {
    font-size: 3.5rem !important;
}
.fs-4 {
    font-size: 4rem !important;
}
.fw-100 {
    font-weight: 100 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-900 {
    font-weight: 900 !important;
}
.border {
    border: 1px solid !important;
}
.border-top {
    border-top: 1px solid !important;
}
.border-right {
    border-right: 1px solid !important;
}
.border-bottom {
    border-bottom: 1px solid !important;
}
.border-left {
    border-left: 1px solid !important;
}
.border-0 {
    border: 0 !important;
}
.border-top-0 {
    border-top: 0 !important;
}
.border-right-0 {
    border-right: 0 !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.border-left-0 {
    border-left: 0 !important;
}
.position-static {
    position: static !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-fixed {
    position: fixed !important;
} 
.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
}
.h1 {
    font-size: 2.5rem;
} 
.h2 {
    font-size: 2rem;
} 
.h3 {
    font-size: 1.75rem;
} 
.h4 {
    font-size: 1.5rem;
} 
.h5 {
    font-size: 1.25rem;
}  
.h6 {
    font-size: 1rem;
}
.shadow-inverse {
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15)!important;
}
.lh-1 {
    line-height: 1 !important;
}
.cx {
    left: 50% !important;
    transform: translateX(-50%) !important;
}
.cy {
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.cx.cy {
    transform: translateX(-50%) translateY(-50%) !important;
}
.h-100vh {
    height: 100vh !important;
}
.no-scroll {
    overflow-y: hidden !important;
}
@media (min-width: 576px) {
    .t-sm-0 {
        top: 0 !important;
    }
    .t-sm-05 {
        top: .5rem !important;
    }
    .t-sm-1 {
        top: 1rem !important;
    }
    .t-sm-15 {
        top: 1.5rem !important;
    }
    .t-sm-2 {
        top: 2rem !important;
    }
    .t-sm-25 {
        top: 2.5rem !important;
    }
    .t-sm-3 {
        top: 3rem !important;
    }
    .t-sm-35 {
        top: 3.5rem !important;
    }
    .t-sm-4 {
        top: 4rem !important;
    }
    .r-sm-0 {
        right: 0 !important;
    }
    .r-sm-05 {
        right: .5rem !important;
    }
    .r-sm-1 {
        right: 1rem !important;
    }
    .r-sm-15 {
        right: 1.5rem !important;
    }
    .r-sm-2 {
        right: 2rem !important;
    }
    .r-sm-25 {
        right: 2.5rem !important;
    }
    .r-sm-3 {
        right: 3rem !important;
    }
    .r-sm-35 {
        right: 3.5rem !important;
    }
    .r-sm-4 {
        right: 4rem !important;
    }
    .b-sm-0 {
        bottom: 0 !important;
    }
    .b-sm-05 {
        bottom: .5rem !important;
    }
    .b-sm-1 {
        bottom: 1rem !important;
    }
    .b-sm-15 {
        bottom: 1.5rem !important;
    }
    .b-sm-2 {
        bottom: 2rem !important;
    }
    .b-sm-25 {
        bottom: 2.5rem !important;
    }
    .b-sm-3 {
        bottom: 3rem !important;
    }
    .b-sm-35 {
        bottom: 3.5rem !important;
    }
    .b-sm-4 {
        bottom: 4rem !important;
    }
    .l-sm-0 {
        left: 0 !important;
    }
    .l-sm-05 {
        left: .5rem !important;
    }
    .l-sm-1 {
        left: 1rem !important;
    }
    .l-sm-15 {
        left: 1.5rem !important;
    }
    .l-sm-2 {
        left: 2rem !important;
    }
    .l-sm-25 {
        left: 2.5rem !important;
    }
    .l-sm-3 {
        left: 3rem !important;
    }
    .l-sm-35 {
        left: 3.5rem !important;
    }
    .l-sm-4 {
        left: 4rem !important;
    }
    .m-sm-0, .my-sm-0, .mt-sm-0 {
        margin-top: 0 !important;
    }
    .m-sm-05, .my-sm-05, .mt-sm-05 {
        margin-top: .5rem !important;
    }
    .m-sm-1, .my-sm-1, .mt-sm-1 {
        margin-top: 1rem !important;
    }
    .m-sm-15, .my-sm-15, .mt-sm-15 {
        margin-top: 1.5rem !important;
    }
    .m-sm-2, .my-sm-2, .mt-sm-2 {
        margin-top: 2rem !important;
    }
    .m-sm-25, .my-sm-25, .mt-sm-25 {
        margin-top: 2.5rem !important;
    }
    .m-sm-3, .my-sm-3, .mt-sm-3 {
        margin-top: 3rem !important;
    }
    .m-sm-35, .my-sm-35, .mt-sm-35 {
        margin-top: 3.5rem !important;
    }
    .m-sm-4, .my-sm-4, .mt-sm-4 {
        margin-top: 4rem !important;
    }
    .m-sm-0, .mx-sm-0, .mr-sm-0 {
        margin-right: 0 !important;
    }
    .m-sm-05, .mx-sm-05, .mr-sm-05 {
        margin-right: .5rem !important;
    }
    .m-sm-1, .mx-sm-1, .mr-sm-1 {
        margin-right: 1rem !important;
    }
    .m-sm-15, .mx-sm-15, .mr-sm-15 {
        margin-right: 1.5rem !important;
    }
    .m-sm-2, .mx-sm-2, .mr-sm-2 {
        margin-right: 2rem !important;
    }
    .m-sm-25, .mx-sm-25, .mr-sm-25 {
        margin-right: 2.5rem !important;
    }
    .m-sm-3, .mx-sm-3, .mr-sm-3 {
        margin-right: 3rem !important;
    }
    .m-sm-35, .mx-sm-35, .mr-sm-35 {
        margin-right: 3.5rem !important;
    }
    .m-sm-4, .mx-sm-4, .mr-sm-4 {
        margin-right: 4rem !important;
    }
    .m-sm-0, .my-sm-0, .mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .m-sm-05, .my-sm-05, .mb-sm-05 {
        margin-bottom: .5rem !important;
    }
    .m-sm-1, .my-sm-1, .mb-sm-1 {
        margin-bottom: 1rem !important;
    }
    .m-sm-15, .my-sm-15, .mb-sm-15 {
        margin-bottom: 1.5rem !important;
    }
    .m-sm-2, .my-sm-2, .mb-sm-2 {
        margin-bottom: 2rem !important;
    }
    .m-sm-25, .my-sm-25, .mb-sm-25 {
        margin-bottom: 2.5rem !important;
    }
    .m-sm-3, .my-sm-3, .mb-sm-3 {
        margin-bottom: 3rem !important;
    }
    .m-sm-35, .my-sm-35, .mb-sm-35 {
        margin-bottom: 3.5rem !important;
    }
    .m-sm-4, .my-sm-4, .mb-sm-4 {
        margin-bottom: 4rem !important;
    }
    .m-sm-0, .mx-sm-0, .ml-sm-0 {
        margin-left: 0 !important;
    }
    .m-sm-05, .mx-sm-05, .ml-sm-05 {
        margin-left: .5rem !important;
    }
    .m-sm-1, .mx-sm-1, .ml-sm-1 {
        margin-left: 1rem !important;
    }
    .m-sm-15, .mx-sm-15, .ml-sm-15 {
        margin-left: 1.5rem !important;
    }
    .m-sm-2, .mx-sm-2, .ml-sm-2 {
        margin-left: 2rem !important;
    }
    .m-sm-25, .mx-sm-25, .ml-sm-25 {
        margin-left: 2.5rem !important;
    }
    .m-sm-3, .mx-sm-3, .ml-sm-3 {
        margin-left: 3rem !important;
    }
    .m-sm-35, .mx-sm-35, .ml-sm-35 {
        margin-left: 3.5rem !important;
    }
    .m-sm-4, .mx-sm-4, .ml-sm-4 {
        margin-left: 4rem !important;
    }
    .p-sm-0, .py-sm-0, .pt-sm-0 {
        padding-top: 0 !important;
    }
    .p-sm-05, .py-sm-05, .pt-sm-05 {
        padding-top: .5rem !important;
    }
    .p-sm-1, .py-sm-1, .pt-sm-1 {
        padding-top: 1rem !important;
    }
    .p-sm-15, .py-sm-15, .pt-sm-15 {
        padding-top: 1.5rem !important;
    }
    .p-sm-2, .py-sm-2, .pt-sm-2 {
        padding-top: 2rem !important;
    }
    .p-sm-25, .py-sm-25, .pt-sm-25 {
        padding-top: 2.5rem !important;
    }
    .p-sm-3, .py-sm-3, .pt-sm-3 {
        padding-top: 3rem !important;
    }
    .p-sm-35, .py-sm-35, .pt-sm-35 {
        padding-top: 3.5rem !important;
    }
    .p-sm-4, .py-sm-4, .pt-sm-4 {
        padding-top: 4rem !important;
    }
    .p-sm-0, .px-sm-0, .pr-sm-0 {
        padding-right: 0 !important;
    }
    .p-sm-05, .px-sm-05, .pr-sm-05 {
        padding-right: .5rem !important;
    }
    .p-sm-1, .px-sm-1, .pr-sm-1 {
        padding-right: 1rem !important;
    }
    .p-sm-15, .px-sm-15, .pr-sm-15 {
        padding-right: 1.5rem !important;
    }
    .p-sm-2, .px-sm-2, .pr-sm-2 {
        padding-right: 2rem !important;
    }
    .p-sm-25, .px-sm-25, .pr-sm-25 {
        padding-right: 2.5rem !important;
    }
    .p-sm-3, .px-sm-3, .pr-sm-3 {
        padding-right: 3rem !important;
    }
    .p-sm-35, .px-sm-35, .pr-sm-35 {
        padding-right: 3.5rem !important;
    }
    .p-sm-4, .px-sm-4, .pr-sm-4 {
        padding-right: 4rem !important;
    }
    .p-sm-0, .py-sm-0, .pb-sm-0 {
        padding-bottom: 0 !important;
    }
    .p-sm-05, .py-sm-05, .pb-sm-05 {
        padding-bottom: .5rem !important;
    }
    .p-sm-1, .py-sm-1, .pb-sm-1 {
        padding-bottom: 1rem !important;
    }
    .p-sm-15, .py-sm-15, .pb-sm-15 {
        padding-bottom: 1.5rem !important;
    }
    .p-sm-2, .py-sm-2, .pb-sm-2 {
        padding-bottom: 2rem !important;
    }
    .p-sm-25, .py-sm-25, .pb-sm-25 {
        padding-bottom: 2.5rem !important;
    }
    .p-sm-3, .py-sm-3, .pb-sm-3 {
        padding-bottom: 3rem !important;
    }
    .p-sm-35, .py-sm-35, .pb-sm-35 {
        padding-bottom: 3.5rem !important;
    }
    .p-sm-4, .py-sm-4, .pb-sm-4 {
        padding-bottom: 4rem !important;
    }
    .p-sm-0, .px-sm-0, .pl-sm-0 {
        padding-left: 0 !important;
    }
    .p-sm-05, .px-sm-05, .pl-sm-05 {
        padding-left: .5rem !important;
    }
    .p-sm-1, .px-sm-1, .pl-sm-1 {
        padding-left: 1rem !important;
    }
    .p-sm-15, .px-sm-15, .pl-sm-15 {
        padding-left: 1.5rem !important;
    }
    .p-sm-2, .px-sm-2, .pl-sm-2 {
        padding-left: 2rem !important;
    }
    .p-sm-25, .px-sm-25, .pl-sm-25 {
        padding-left: 2.5rem !important;
    }
    .p-sm-3, .px-sm-3, .pl-sm-3 {
        padding-left: 3rem !important;
    }
    .p-sm-35, .px-sm-35, .pl-sm-35 {
        padding-left: 3.5rem !important;
    }
    .p-sm-4, .px-sm-4, .pl-sm-4 {
        padding-left: 4rem !important;
    }
    .fs-sm-05 {
        font-size: .5rem !important;
    }
    .fs-sm-1 {
        font-size: 1rem !important;
    }
    .fs-sm-15 {
        font-size: 1.5rem !important;
    }
    .fs-sm-2 {
        font-size: 2rem !important;
    }
    .fs-sm-25 {
        font-size: 2.5rem !important;
    }
    .fs-sm-3 {
        font-size: 3rem !important;
    }
    .fs-sm-35 {
        font-size: 3.5rem !important;
    }
    .fs-sm-4 {
        font-size: 4rem !important;
    }
    .fw-sm-100 {
        font-weight: 100 !important;
    }
    .fw-sm-200 {
        font-weight: 200 !important;
    }
    .fw-sm-300 {
        font-weight: 300 !important;
    }
    .fw-sm-400 {
        font-weight: 400 !important;
    }
    .fw-sm-500 {
        font-weight: 500 !important;
    }
    .fw-sm-600 {
        font-weight: 600 !important;
    }
    .fw-sm-700 {
        font-weight: 700 !important;
    }
    .fw-sm-800 {
        font-weight: 800 !important;
    }
    .fw-sm-900 {
        font-weight: 900 !important;
    }
    .border-sm {
        border: 1px solid !important;
    }
    .border-sm-top {
        border-top: 1px solid !important;
    }
    .border-sm-right {
        border-right: 1px solid !important;
    }
    .border-sm-bottom {
        border-bottom: 1px solid !important;
    }
    .border-sm-left {
        border-left: 1px solid !important;
    }
    .border-sm-0 {
        border: 0 !important;
    }
    .border-sm-top-0 {
        border-top: 0 !important;
    }
    .border-sm-right-0 {
        border-right: 0 !important;
    }
    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-sm-left-0 {
        border-left: 0 !important;
    }
    .position-sm-static {
        position: static !important;
    }
    .position-sm-relative {
        position: relative !important;
    }
    .position-sm-absolute {
        position: absolute !important;
    }
    .position-sm-fixed {
        position: fixed !important;
    } 
    .position-sm-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .sm-h1 {
        font-size: 2.5rem;
    } 
    .sm-h2 {
        font-size: 2rem;
    } 
    .sm-h3 {
        font-size: 1.75rem;
    } 
    .sm-h4 {
        font-size: 1.5rem;
    } 
    .sm-h5 {
        font-size: 1.25rem;
    }  
    .sm-h6 {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .t-md-0 {
        top: 0 !important;
    }
    .t-md-05 {
        top: .5rem !important;
    }
    .t-md-1 {
        top: 1rem !important;
    }
    .t-md-15 {
        top: 1.5rem !important;
    }
    .t-md-2 {
        top: 2rem !important;
    }
    .t-md-25 {
        top: 2.5rem !important;
    }
    .t-md-3 {
        top: 3rem !important;
    }
    .t-md-35 {
        top: 3.5rem !important;
    }
    .t-md-4 {
        top: 4rem !important;
    }
    .r-md-0 {
        right: 0 !important;
    }
    .r-md-05 {
        right: .5rem !important;
    }
    .r-md-1 {
        right: 1rem !important;
    }
    .r-md-15 {
        right: 1.5rem !important;
    }
    .r-md-2 {
        right: 2rem !important;
    }
    .r-md-25 {
        right: 2.5rem !important;
    }
    .r-md-3 {
        right: 3rem !important;
    }
    .r-md-35 {
        right: 3.5rem !important;
    }
    .r-md-4 {
        right: 4rem !important;
    }
    .b-md-0 {
        bottom: 0 !important;
    }
    .b-md-05 {
        bottom: .5rem !important;
    }
    .b-md-1 {
        bottom: 1rem !important;
    }
    .b-md-15 {
        bottom: 1.5rem !important;
    }
    .b-md-2 {
        bottom: 2rem !important;
    }
    .b-md-25 {
        bottom: 2.5rem !important;
    }
    .b-md-3 {
        bottom: 3rem !important;
    }
    .b-md-35 {
        bottom: 3.5rem !important;
    }
    .b-md-4 {
        bottom: 4rem !important;
    }
    .l-md-0 {
        left: 0 !important;
    }
    .l-md-05 {
        left: .5rem !important;
    }
    .l-md-1 {
        left: 1rem !important;
    }
    .l-md-15 {
        left: 1.5rem !important;
    }
    .l-md-2 {
        left: 2rem !important;
    }
    .l-md-25 {
        left: 2.5rem !important;
    }
    .l-md-3 {
        left: 3rem !important;
    }
    .l-md-35 {
        left: 3.5rem !important;
    }
    .l-md-4 {
        left: 4rem !important;
    }
    .m-md-0, .my-md-0, .mt-md-0 {
        margin-top: 0 !important;
    }
    .m-md-05, .my-md-05, .mt-md-05 {
        margin-top: .5rem !important;
    }
    .m-md-1, .my-md-1, .mt-md-1 {
        margin-top: 1rem !important;
    }
    .m-md-15, .my-md-15, .mt-md-15 {
        margin-top: 1.5rem !important;
    }
    .m-md-2, .my-md-2, .mt-md-2 {
        margin-top: 2rem !important;
    }
    .m-md-25, .my-md-25, .mt-md-25 {
        margin-top: 2.5rem !important;
    }
    .m-md-3, .my-md-3, .mt-md-3 {
        margin-top: 3rem !important;
    }
    .m-md-35, .my-md-35, .mt-md-35 {
        margin-top: 3.5rem !important;
    }
    .m-md-4, .my-md-4, .mt-md-4 {
        margin-top: 4rem !important;
    }
    .m-md-0, .mx-md-0, .mr-md-0 {
        margin-right: 0 !important;
    }
    .m-md-05, .mx-md-05, .mr-md-05 {
        margin-right: .5rem !important;
    }
    .m-md-1, .mx-md-1, .mr-md-1 {
        margin-right: 1rem !important;
    }
    .m-md-15, .mx-md-15, .mr-md-15 {
        margin-right: 1.5rem !important;
    }
    .m-md-2, .mx-md-2, .mr-md-2 {
        margin-right: 2rem !important;
    }
    .m-md-25, .mx-md-25, .mr-md-25 {
        margin-right: 2.5rem !important;
    }
    .m-md-3, .mx-md-3, .mr-md-3 {
        margin-right: 3rem !important;
    }
    .m-md-35, .mx-md-35, .mr-md-35 {
        margin-right: 3.5rem !important;
    }
    .m-md-4, .mx-md-4, .mr-md-4 {
        margin-right: 4rem !important;
    }
    .m-md-0, .my-md-0, .mb-md-0 {
        margin-bottom: 0 !important;
    }
    .m-md-05, .my-md-05, .mb-md-05 {
        margin-bottom: .5rem !important;
    }
    .m-md-1, .my-md-1, .mb-md-1 {
        margin-bottom: 1rem !important;
    }
    .m-md-15, .my-md-15, .mb-md-15 {
        margin-bottom: 1.5rem !important;
    }
    .m-md-2, .my-md-2, .mb-md-2 {
        margin-bottom: 2rem !important;
    }
    .m-md-25, .my-md-25, .mb-md-25 {
        margin-bottom: 2.5rem !important;
    }
    .m-md-3, .my-md-3, .mb-md-3 {
        margin-bottom: 3rem !important;
    }
    .m-md-35, .my-md-35, .mb-md-35 {
        margin-bottom: 3.5rem !important;
    }
    .m-md-4, .my-md-4, .mb-md-4 {
        margin-bottom: 4rem !important;
    }
    .m-md-0, .mx-md-0, .ml-md-0 {
        margin-left: 0 !important;
    }
    .m-md-05, .mx-md-05, .ml-md-05 {
        margin-left: .5rem !important;
    }
    .m-md-1, .mx-md-1, .ml-md-1 {
        margin-left: 1rem !important;
    }
    .m-md-15, .mx-md-15, .ml-md-15 {
        margin-left: 1.5rem !important;
    }
    .m-md-2, .mx-md-2, .ml-md-2 {
        margin-left: 2rem !important;
    }
    .m-md-25, .mx-md-25, .ml-md-25 {
        margin-left: 2.5rem !important;
    }
    .m-md-3, .mx-md-3, .ml-md-3 {
        margin-left: 3rem !important;
    }
    .m-md-35, .mx-md-35, .ml-md-35 {
        margin-left: 3.5rem !important;
    }
    .m-md-4, .mx-md-4, .ml-md-4 {
        margin-left: 4rem !important;
    }
    .p-md-0, .py-md-0, .pt-md-0 {
        padding-top: 0 !important;
    }
    .p-md-05, .py-md-05, .pt-md-05 {
        padding-top: .5rem !important;
    }
    .p-md-1, .py-md-1, .pt-md-1 {
        padding-top: 1rem !important;
    }
    .p-md-15, .py-md-15, .pt-md-15 {
        padding-top: 1.5rem !important;
    }
    .p-md-2, .py-md-2, .pt-md-2 {
        padding-top: 2rem !important;
    }
    .p-md-25, .py-md-25, .pt-md-25 {
        padding-top: 2.5rem !important;
    }
    .p-md-3, .py-md-3, .pt-md-3 {
        padding-top: 3rem !important;
    }
    .p-md-35, .py-md-35, .pt-md-35 {
        padding-top: 3.5rem !important;
    }
    .p-md-4, .py-md-4, .pt-md-4 {
        padding-top: 4rem !important;
    }
    .p-md-0, .px-md-0, .pr-md-0 {
        padding-right: 0 !important;
    }
    .p-md-05, .px-md-05, .pr-md-05 {
        padding-right: .5rem !important;
    }
    .p-md-1, .px-md-1, .pr-md-1 {
        padding-right: 1rem !important;
    }
    .p-md-15, .px-md-15, .pr-md-15 {
        padding-right: 1.5rem !important;
    }
    .p-md-2, .px-md-2, .pr-md-2 {
        padding-right: 2rem !important;
    }
    .p-md-25, .px-md-25, .pr-md-25 {
        padding-right: 2.5rem !important;
    }
    .p-md-3, .px-md-3, .pr-md-3 {
        padding-right: 3rem !important;
    }
    .p-md-35, .px-md-35, .pr-md-35 {
        padding-right: 3.5rem !important;
    }
    .p-md-4, .px-md-4, .pr-md-4 {
        padding-right: 4rem !important;
    }
    .p-md-0, .py-md-0, .pb-md-0 {
        padding-bottom: 0 !important;
    }
    .p-md-05, .py-md-05, .pb-md-05 {
        padding-bottom: .5rem !important;
    }
    .p-md-1, .py-md-1, .pb-md-1 {
        padding-bottom: 1rem !important;
    }
    .p-md-15, .py-md-15, .pb-md-15 {
        padding-bottom: 1.5rem !important;
    }
    .p-md-2, .py-md-2, .pb-md-2 {
        padding-bottom: 2rem !important;
    }
    .p-md-25, .py-md-25, .pb-md-25 {
        padding-bottom: 2.5rem !important;
    }
    .p-md-3, .py-md-3, .pb-md-3 {
        padding-bottom: 3rem !important;
    }
    .p-md-35, .py-md-35, .pb-md-35 {
        padding-bottom: 3.5rem !important;
    }
    .p-md-4, .py-md-4, .pb-md-4 {
        padding-bottom: 4rem !important;
    }
    .p-md-0, .px-md-0, .pl-md-0 {
        padding-left: 0 !important;
    }
    .p-md-05, .px-md-05, .pl-md-05 {
        padding-left: .5rem !important;
    }
    .p-md-1, .px-md-1, .pl-md-1 {
        padding-left: 1rem !important;
    }
    .p-md-15, .px-md-15, .pl-md-15 {
        padding-left: 1.5rem !important;
    }
    .p-md-2, .px-md-2, .pl-md-2 {
        padding-left: 2rem !important;
    }
    .p-md-25, .px-md-25, .pl-md-25 {
        padding-left: 2.5rem !important;
    }
    .p-md-3, .px-md-3, .pl-md-3 {
        padding-left: 3rem !important;
    }
    .p-md-35, .px-md-35, .pl-md-35 {
        padding-left: 3.5rem !important;
    }
    .p-md-4, .px-md-4, .pl-md-4 {
        padding-left: 4rem !important;
    }
    .fs-md-05 {
        font-size: .5rem !important;
    }
    .fs-md-1 {
        font-size: 1rem !important;
    }
    .fs-md-15 {
        font-size: 1.5rem !important;
    }
    .fs-md-2 {
        font-size: 2rem !important;
    }
    .fs-md-25 {
        font-size: 2.5rem !important;
    }
    .fs-md-3 {
        font-size: 3rem !important;
    }
    .fs-md-35 {
        font-size: 3.5rem !important;
    }
    .fs-md-4 {
        font-size: 4rem !important;
    }
    .fw-md-100 {
        font-weight: 100 !important;
    }
    .fw-md-200 {
        font-weight: 200 !important;
    }
    .fw-md-300 {
        font-weight: 300 !important;
    }
    .fw-md-400 {
        font-weight: 400 !important;
    }
    .fw-md-500 {
        font-weight: 500 !important;
    }
    .fw-md-600 {
        font-weight: 600 !important;
    }
    .fw-md-700 {
        font-weight: 700 !important;
    }
    .fw-md-800 {
        font-weight: 800 !important;
    }
    .fw-md-900 {
        font-weight: 900 !important;
    }
    .border-md {
        border: 1px solid !important;
    }
    .border-md-top {
        border-top: 1px solid !important;
    }
    .border-md-right {
        border-right: 1px solid !important;
    }
    .border-md-bottom {
        border-bottom: 1px solid !important;
    }
    .border-md-left {
        border-left: 1px solid !important;
    }
    .border-md-0 {
        border: 0 !important;
    }
    .border-md-top-0 {
        border-top: 0 !important;
    }
    .border-md-right-0 {
        border-right: 0 !important;
    }
    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-md-left-0 {
        border-left: 0 !important;
    }
    .position-md-static {
        position: static !important;
    }
    .position-md-relative {
        position: relative !important;
    }
    .position-md-absolute {
        position: absolute !important;
    }
    .position-md-fixed {
        position: fixed !important;
    } 
    .position-md-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .md-h1 {
        font-size: 2.5rem;
    } 
    .md-h2 {
        font-size: 2rem;
    } 
    .md-h3 {
        font-size: 1.75rem;
    } 
    .md-h4 {
        font-size: 1.5rem;
    } 
    .md-h5 {
        font-size: 1.25rem;
    }  
    .md-h6 {
        font-size: 1rem;
    }   
}
@media (min-width: 992px) {
    .t-lg-0 {
        top: 0 !important;
    }
    .t-lg-05 {
        top: .5rem !important;
    }
    .t-lg-1 {
        top: 1rem !important;
    }
    .t-lg-15 {
        top: 1.5rem !important;
    }
    .t-lg-2 {
        top: 2rem !important;
    }
    .t-lg-25 {
        top: 2.5rem !important;
    }
    .t-lg-3 {
        top: 3rem !important;
    }
    .t-lg-35 {
        top: 3.5rem !important;
    }
    .t-lg-4 {
        top: 4rem !important;
    }
    .r-lg-0 {
        right: 0 !important;
    }
    .r-lg-05 {
        right: .5rem !important;
    }
    .r-lg-1 {
        right: 1rem !important;
    }
    .r-lg-15 {
        right: 1.5rem !important;
    }
    .r-lg-2 {
        right: 2rem !important;
    }
    .r-lg-25 {
        right: 2.5rem !important;
    }
    .r-lg-3 {
        right: 3rem !important;
    }
    .r-lg-35 {
        right: 3.5rem !important;
    }
    .r-lg-4 {
        right: 4rem !important;
    }
    .b-lg-0 {
        bottom: 0 !important;
    }
    .b-lg-05 {
        bottom: .5rem !important;
    }
    .b-lg-1 {
        bottom: 1rem !important;
    }
    .b-lg-15 {
        bottom: 1.5rem !important;
    }
    .b-lg-2 {
        bottom: 2rem !important;
    }
    .b-lg-25 {
        bottom: 2.5rem !important;
    }
    .b-lg-3 {
        bottom: 3rem !important;
    }
    .b-lg-35 {
        bottom: 3.5rem !important;
    }
    .b-lg-4 {
        bottom: 4rem !important;
    }
    .l-lg-0 {
        left: 0 !important;
    }
    .l-lg-05 {
        left: .5rem !important;
    }
    .l-lg-1 {
        left: 1rem !important;
    }
    .l-lg-15 {
        left: 1.5rem !important;
    }
    .l-lg-2 {
        left: 2rem !important;
    }
    .l-lg-25 {
        left: 2.5rem !important;
    }
    .l-lg-3 {
        left: 3rem !important;
    }
    .l-lg-35 {
        left: 3.5rem !important;
    }
    .l-lg-4 {
        left: 4rem !important;
    }
    .m-lg-0, .my-lg-0, .mt-lg-0 {
        margin-top: 0 !important;
    }
    .m-lg-05, .my-lg-05, .mt-lg-05 {
        margin-top: .5rem !important;
    }
    .m-lg-1, .my-lg-1, .mt-lg-1 {
        margin-top: 1rem !important;
    }
    .m-lg-15, .my-lg-15, .mt-lg-15 {
        margin-top: 1.5rem !important;
    }
    .m-lg-2, .my-lg-2, .mt-lg-2 {
        margin-top: 2rem !important;
    }
    .m-lg-25, .my-lg-25, .mt-lg-25 {
        margin-top: 2.5rem !important;
    }
    .m-lg-3, .my-lg-3, .mt-lg-3 {
        margin-top: 3rem !important;
    }
    .m-lg-35, .my-lg-35, .mt-lg-35 {
        margin-top: 3.5rem !important;
    }
    .m-lg-4, .my-lg-4, .mt-lg-4 {
        margin-top: 4rem !important;
    }
    .m-lg-0, .mx-lg-0, .mr-lg-0 {
        margin-right: 0 !important;
    }
    .m-lg-05, .mx-lg-05, .mr-lg-05 {
        margin-right: .5rem !important;
    }
    .m-lg-1, .mx-lg-1, .mr-lg-1 {
        margin-right: 1rem !important;
    }
    .m-lg-15, .mx-lg-15, .mr-lg-15 {
        margin-right: 1.5rem !important;
    }
    .m-lg-2, .mx-lg-2, .mr-lg-2 {
        margin-right: 2rem !important;
    }
    .m-lg-25, .mx-lg-25, .mr-lg-25 {
        margin-right: 2.5rem !important;
    }
    .m-lg-3, .mx-lg-3, .mr-lg-3 {
        margin-right: 3rem !important;
    }
    .m-lg-35, .mx-lg-35, .mr-lg-35 {
        margin-right: 3.5rem !important;
    }
    .m-lg-4, .mx-lg-4, .mr-lg-4 {
        margin-right: 4rem !important;
    }
    .m-lg-0, .my-lg-0, .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .m-lg-05, .my-lg-05, .mb-lg-05 {
        margin-bottom: .5rem !important;
    }
    .m-lg-1, .my-lg-1, .mb-lg-1 {
        margin-bottom: 1rem !important;
    }
    .m-lg-15, .my-lg-15, .mb-lg-15 {
        margin-bottom: 1.5rem !important;
    }
    .m-lg-2, .my-lg-2, .mb-lg-2 {
        margin-bottom: 2rem !important;
    }
    .m-lg-25, .my-lg-25, .mb-lg-25 {
        margin-bottom: 2.5rem !important;
    }
    .m-lg-3, .my-lg-3, .mb-lg-3 {
        margin-bottom: 3rem !important;
    }
    .m-lg-35, .my-lg-35, .mb-lg-35 {
        margin-bottom: 3.5rem !important;
    }
    .m-lg-4, .my-lg-4, .mb-lg-4 {
        margin-bottom: 4rem !important;
    }
    .m-lg-0, .mx-lg-0, .ml-lg-0 {
        margin-left: 0 !important;
    }
    .m-lg-05, .mx-lg-05, .ml-lg-05 {
        margin-left: .5rem !important;
    }
    .m-lg-1, .mx-lg-1, .ml-lg-1 {
        margin-left: 1rem !important;
    }
    .m-lg-15, .mx-lg-15, .ml-lg-15 {
        margin-left: 1.5rem !important;
    }
    .m-lg-2, .mx-lg-2, .ml-lg-2 {
        margin-left: 2rem !important;
    }
    .m-lg-25, .mx-lg-25, .ml-lg-25 {
        margin-left: 2.5rem !important;
    }
    .m-lg-3, .mx-lg-3, .ml-lg-3 {
        margin-left: 3rem !important;
    }
    .m-lg-35, .mx-lg-35, .ml-lg-35 {
        margin-left: 3.5rem !important;
    }
    .m-lg-4, .mx-lg-4, .ml-lg-4 {
        margin-left: 4rem !important;
    }
    .p-lg-0, .py-lg-0, .pt-lg-0 {
        padding-top: 0 !important;
    }
    .p-lg-05, .py-lg-05, .pt-lg-05 {
        padding-top: .5rem !important;
    }
    .p-lg-1, .py-lg-1, .pt-lg-1 {
        padding-top: 1rem !important;
    }
    .p-lg-15, .py-lg-15, .pt-lg-15 {
        padding-top: 1.5rem !important;
    }
    .p-lg-2, .py-lg-2, .pt-lg-2 {
        padding-top: 2rem !important;
    }
    .p-lg-25, .py-lg-25, .pt-lg-25 {
        padding-top: 2.5rem !important;
    }
    .p-lg-3, .py-lg-3, .pt-lg-3 {
        padding-top: 3rem !important;
    }
    .p-lg-35, .py-lg-35, .pt-lg-35 {
        padding-top: 3.5rem !important;
    }
    .p-lg-4, .py-lg-4, .pt-lg-4 {
        padding-top: 4rem !important;
    }
    .p-lg-0, .px-lg-0, .pr-lg-0 {
        padding-right: 0 !important;
    }
    .p-lg-05, .px-lg-05, .pr-lg-05 {
        padding-right: .5rem !important;
    }
    .p-lg-1, .px-lg-1, .pr-lg-1 {
        padding-right: 1rem !important;
    }
    .p-lg-15, .px-lg-15, .pr-lg-15 {
        padding-right: 1.5rem !important;
    }
    .p-lg-2, .px-lg-2, .pr-lg-2 {
        padding-right: 2rem !important;
    }
    .p-lg-25, .px-lg-25, .pr-lg-25 {
        padding-right: 2.5rem !important;
    }
    .p-lg-3, .px-lg-3, .pr-lg-3 {
        padding-right: 3rem !important;
    }
    .p-lg-35, .px-lg-35, .pr-lg-35 {
        padding-right: 3.5rem !important;
    }
    .p-lg-4, .px-lg-4, .pr-lg-4 {
        padding-right: 4rem !important;
    }
    .p-lg-0, .py-lg-0, .pb-lg-0 {
        padding-bottom: 0 !important;
    }
    .p-lg-05, .py-lg-05, .pb-lg-05 {
        padding-bottom: .5rem !important;
    }
    .p-lg-1, .py-lg-1, .pb-lg-1 {
        padding-bottom: 1rem !important;
    }
    .p-lg-15, .py-lg-15, .pb-lg-15 {
        padding-bottom: 1.5rem !important;
    }
    .p-lg-2, .py-lg-2, .pb-lg-2 {
        padding-bottom: 2rem !important;
    }
    .p-lg-25, .py-lg-25, .pb-lg-25 {
        padding-bottom: 2.5rem !important;
    }
    .p-lg-3, .py-lg-3, .pb-lg-3 {
        padding-bottom: 3rem !important;
    }
    .p-lg-35, .py-lg-35, .pb-lg-35 {
        padding-bottom: 3.5rem !important;
    }
    .p-lg-4, .py-lg-4, .pb-lg-4 {
        padding-bottom: 4rem !important;
    }
    .p-lg-0, .px-lg-0, .pl-lg-0 {
        padding-left: 0 !important;
    }
    .p-lg-05, .px-lg-05, .pl-lg-05 {
        padding-left: .5rem !important;
    }
    .p-lg-1, .px-lg-1, .pl-lg-1 {
        padding-left: 1rem !important;
    }
    .p-lg-15, .px-lg-15, .pl-lg-15 {
        padding-left: 1.5rem !important;
    }
    .p-lg-2, .px-lg-2, .pl-lg-2 {
        padding-left: 2rem !important;
    }
    .p-lg-25, .px-lg-25, .pl-lg-25 {
        padding-left: 2.5rem !important;
    }
    .p-lg-3, .px-lg-3, .pl-lg-3 {
        padding-left: 3rem !important;
    }
    .p-lg-35, .px-lg-35, .pl-lg-35 {
        padding-left: 3.5rem !important;
    }
    .p-lg-4, .px-lg-4, .pl-lg-4 {
        padding-left: 4rem !important;
    }
    .fs-lg-05 {
        font-size: .5rem !important;
    }
    .fs-lg-1 {
        font-size: 1rem !important;
    }
    .fs-lg-15 {
        font-size: 1.5rem !important;
    }
    .fs-lg-2 {
        font-size: 2rem !important;
    }
    .fs-lg-25 {
        font-size: 2.5rem !important;
    }
    .fs-lg-3 {
        font-size: 3rem !important;
    }
    .fs-lg-35 {
        font-size: 3.5rem !important;
    }
    .fs-lg-4 {
        font-size: 4rem !important;
    }
    .fw-lg-100 {
        font-weight: 100 !important;
    }
    .fw-lg-200 {
        font-weight: 200 !important;
    }
    .fw-lg-300 {
        font-weight: 300 !important;
    }
    .fw-lg-400 {
        font-weight: 400 !important;
    }
    .fw-lg-500 {
        font-weight: 500 !important;
    }
    .fw-lg-600 {
        font-weight: 600 !important;
    }
    .fw-lg-700 {
        font-weight: 700 !important;
    }
    .fw-lg-800 {
        font-weight: 800 !important;
    }
    .fw-lg-900 {
        font-weight: 900 !important;
    }
    .border-lg {
        border: 1px solid !important;
    }
    .border-lg-top {
        border-top: 1px solid !important;
    }
    .border-lg-right {
        border-right: 1px solid !important;
    }
    .border-lg-bottom {
        border-bottom: 1px solid !important;
    }
    .border-lg-left {
        border-left: 1px solid !important;
    }
    .border-lg-0 {
        border: 0 !important;
    }
    .border-lg-top-0 {
        border-top: 0 !important;
    }
    .border-lg-right-0 {
        border-right: 0 !important;
    }
    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-lg-left-0 {
        border-left: 0 !important;
    }
    .position-lg-static {
        position: static !important;
    }
    .position-lg-relative {
        position: relative !important;
    }
    .position-lg-absolute {
        position: absolute !important;
    }
    .position-lg-fixed {
        position: fixed !important;
    } 
    .position-lg-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .lg-h1 {
        font-size: 2.5rem;
    } 
    .lg-h2 {
        font-size: 2rem;
    } 
    .lg-h3 {
        font-size: 1.75rem;
    } 
    .lg-h4 {
        font-size: 1.5rem;
    } 
    .lg-h5 {
        font-size: 1.25rem;
    }  
    .lg-h6 {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    .t-xl-0 {
        top: 0 !important;
    }
    .t-xl-05 {
        top: .5rem !important;
    }
    .t-xl-1 {
        top: 1rem !important;
    }
    .t-xl-15 {
        top: 1.5rem !important;
    }
    .t-xl-2 {
        top: 2rem !important;
    }
    .t-xl-25 {
        top: 2.5rem !important;
    }
    .t-xl-3 {
        top: 3rem !important;
    }
    .t-xl-35 {
        top: 3.5rem !important;
    }
    .t-xl-4 {
        top: 4rem !important;
    }
    .r-xl-0 {
        right: 0 !important;
    }
    .r-xl-05 {
        right: .5rem !important;
    }
    .r-xl-1 {
        right: 1rem !important;
    }
    .r-xl-15 {
        right: 1.5rem !important;
    }
    .r-xl-2 {
        right: 2rem !important;
    }
    .r-xl-25 {
        right: 2.5rem !important;
    }
    .r-xl-3 {
        right: 3rem !important;
    }
    .r-xl-35 {
        right: 3.5rem !important;
    }
    .r-xl-4 {
        right: 4rem !important;
    }
    .b-xl-0 {
        bottom: 0 !important;
    }
    .b-xl-05 {
        bottom: .5rem !important;
    }
    .b-xl-1 {
        bottom: 1rem !important;
    }
    .b-xl-15 {
        bottom: 1.5rem !important;
    }
    .b-xl-2 {
        bottom: 2rem !important;
    }
    .b-xl-25 {
        bottom: 2.5rem !important;
    }
    .b-xl-3 {
        bottom: 3rem !important;
    }
    .b-xl-35 {
        bottom: 3.5rem !important;
    }
    .b-xl-4 {
        bottom: 4rem !important;
    }
    .l-xl-0 {
        left: 0 !important;
    }
    .l-xl-05 {
        left: .5rem !important;
    }
    .l-xl-1 {
        left: 1rem !important;
    }
    .l-xl-15 {
        left: 1.5rem !important;
    }
    .l-xl-2 {
        left: 2rem !important;
    }
    .l-xl-25 {
        left: 2.5rem !important;
    }
    .l-xl-3 {
        left: 3rem !important;
    }
    .l-xl-35 {
        left: 3.5rem !important;
    }
    .l-xl-4 {
        left: 4rem !important;
    }
    .m-xl-0, .my-xl-0, .mt-xl-0 {
        margin-top: 0 !important;
    }
    .m-xl-05, .my-xl-05, .mt-xl-05 {
        margin-top: .5rem !important;
    }
    .m-xl-1, .my-xl-1, .mt-xl-1 {
        margin-top: 1rem !important;
    }
    .m-xl-15, .my-xl-15, .mt-xl-15 {
        margin-top: 1.5rem !important;
    }
    .m-xl-2, .my-xl-2, .mt-xl-2 {
        margin-top: 2rem !important;
    }
    .m-xl-25, .my-xl-25, .mt-xl-25 {
        margin-top: 2.5rem !important;
    }
    .m-xl-3, .my-xl-3, .mt-xl-3 {
        margin-top: 3rem !important;
    }
    .m-xl-35, .my-xl-35, .mt-xl-35 {
        margin-top: 3.5rem !important;
    }
    .m-xl-4, .my-xl-4, .mt-xl-4 {
        margin-top: 4rem !important;
    }
    .m-xl-0, .mx-xl-0, .mr-xl-0 {
        margin-right: 0 !important;
    }
    .m-xl-05, .mx-xl-05, .mr-xl-05 {
        margin-right: .5rem !important;
    }
    .m-xl-1, .mx-xl-1, .mr-xl-1 {
        margin-right: 1rem !important;
    }
    .m-xl-15, .mx-xl-15, .mr-xl-15 {
        margin-right: 1.5rem !important;
    }
    .m-xl-2, .mx-xl-2, .mr-xl-2 {
        margin-right: 2rem !important;
    }
    .m-xl-25, .mx-xl-25, .mr-xl-25 {
        margin-right: 2.5rem !important;
    }
    .m-xl-3, .mx-xl-3, .mr-xl-3 {
        margin-right: 3rem !important;
    }
    .m-xl-35, .mx-xl-35, .mr-xl-35 {
        margin-right: 3.5rem !important;
    }
    .m-xl-4, .mx-xl-4, .mr-xl-4 {
        margin-right: 4rem !important;
    }
    .m-xl-0, .my-xl-0, .mb-xl-0 {
        margin-bottom: 0 !important;
    }
    .m-xl-05, .my-xl-05, .mb-xl-05 {
        margin-bottom: .5rem !important;
    }
    .m-xl-1, .my-xl-1, .mb-xl-1 {
        margin-bottom: 1rem !important;
    }
    .m-xl-15, .my-xl-15, .mb-xl-15 {
        margin-bottom: 1.5rem !important;
    }
    .m-xl-2, .my-xl-2, .mb-xl-2 {
        margin-bottom: 2rem !important;
    }
    .m-xl-25, .my-xl-25, .mb-xl-25 {
        margin-bottom: 2.5rem !important;
    }
    .m-xl-3, .my-xl-3, .mb-xl-3 {
        margin-bottom: 3rem !important;
    }
    .m-xl-35, .my-xl-35, .mb-xl-35 {
        margin-bottom: 3.5rem !important;
    }
    .m-xl-4, .my-xl-4, .mb-xl-4 {
        margin-bottom: 4rem !important;
    }
    .m-xl-0, .mx-xl-0, .ml-xl-0 {
        margin-left: 0 !important;
    }
    .m-xl-05, .mx-xl-05, .ml-xl-05 {
        margin-left: .5rem !important;
    }
    .m-xl-1, .mx-xl-1, .ml-xl-1 {
        margin-left: 1rem !important;
    }
    .m-xl-15, .mx-xl-15, .ml-xl-15 {
        margin-left: 1.5rem !important;
    }
    .m-xl-2, .mx-xl-2, .ml-xl-2 {
        margin-left: 2rem !important;
    }
    .m-xl-25, .mx-xl-25, .ml-xl-25 {
        margin-left: 2.5rem !important;
    }
    .m-xl-3, .mx-xl-3, .ml-xl-3 {
        margin-left: 3rem !important;
    }
    .m-xl-35, .mx-xl-35, .ml-xl-35 {
        margin-left: 3.5rem !important;
    }
    .m-xl-4, .mx-xl-4, .ml-xl-4 {
        margin-left: 4rem !important;
    }
    .p-xl-0, .py-xl-0, .pt-xl-0 {
        padding-top: 0 !important;
    }
    .p-xl-05, .py-xl-05, .pt-xl-05 {
        padding-top: .5rem !important;
    }
    .p-xl-1, .py-xl-1, .pt-xl-1 {
        padding-top: 1rem !important;
    }
    .p-xl-15, .py-xl-15, .pt-xl-15 {
        padding-top: 1.5rem !important;
    }
    .p-xl-2, .py-xl-2, .pt-xl-2 {
        padding-top: 2rem !important;
    }
    .p-xl-25, .py-xl-25, .pt-xl-25 {
        padding-top: 2.5rem !important;
    }
    .p-xl-3, .py-xl-3, .pt-xl-3 {
        padding-top: 3rem !important;
    }
    .p-xl-35, .py-xl-35, .pt-xl-35 {
        padding-top: 3.5rem !important;
    }
    .p-xl-4, .py-xl-4, .pt-xl-4 {
        padding-top: 4rem !important;
    }
    .p-xl-0, .px-xl-0, .pr-xl-0 {
        padding-right: 0 !important;
    }
    .p-xl-05, .px-xl-05, .pr-xl-05 {
        padding-right: .5rem !important;
    }
    .p-xl-1, .px-xl-1, .pr-xl-1 {
        padding-right: 1rem !important;
    }
    .p-xl-15, .px-xl-15, .pr-xl-15 {
        padding-right: 1.5rem !important;
    }
    .p-xl-2, .px-xl-2, .pr-xl-2 {
        padding-right: 2rem !important;
    }
    .p-xl-25, .px-xl-25, .pr-xl-25 {
        padding-right: 2.5rem !important;
    }
    .p-xl-3, .px-xl-3, .pr-xl-3 {
        padding-right: 3rem !important;
    }
    .p-xl-35, .px-xl-35, .pr-xl-35 {
        padding-right: 3.5rem !important;
    }
    .p-xl-4, .px-xl-4, .pr-xl-4 {
        padding-right: 4rem !important;
    }
    .p-xl-0, .py-xl-0, .pb-xl-0 {
        padding-bottom: 0 !important;
    }
    .p-xl-05, .py-xl-05, .pb-xl-05 {
        padding-bottom: .5rem !important;
    }
    .p-xl-1, .py-xl-1, .pb-xl-1 {
        padding-bottom: 1rem !important;
    }
    .p-xl-15, .py-xl-15, .pb-xl-15 {
        padding-bottom: 1.5rem !important;
    }
    .p-xl-2, .py-xl-2, .pb-xl-2 {
        padding-bottom: 2rem !important;
    }
    .p-xl-25, .py-xl-25, .pb-xl-25 {
        padding-bottom: 2.5rem !important;
    }
    .p-xl-3, .py-xl-3, .pb-xl-3 {
        padding-bottom: 3rem !important;
    }
    .p-xl-35, .py-xl-35, .pb-xl-35 {
        padding-bottom: 3.5rem !important;
    }
    .p-xl-4, .py-xl-4, .pb-xl-4 {
        padding-bottom: 4rem !important;
    }
    .p-xl-0, .px-xl-0, .pl-xl-0 {
        padding-left: 0 !important;
    }
    .p-xl-05, .px-xl-05, .pl-xl-05 {
        padding-left: .5rem !important;
    }
    .p-xl-1, .px-xl-1, .pl-xl-1 {
        padding-left: 1rem !important;
    }
    .p-xl-15, .px-xl-15, .pl-xl-15 {
        padding-left: 1.5rem !important;
    }
    .p-xl-2, .px-xl-2, .pl-xl-2 {
        padding-left: 2rem !important;
    }
    .p-xl-25, .px-xl-25, .pl-xl-25 {
        padding-left: 2.5rem !important;
    }
    .p-xl-3, .px-xl-3, .pl-xl-3 {
        padding-left: 3rem !important;
    }
    .p-xl-35, .px-xl-35, .pl-xl-35 {
        padding-left: 3.5rem !important;
    }
    .p-xl-4, .px-xl-4, .pl-xl-4 {
        padding-left: 4rem !important;
    }
    .fs-xl-05 {
        font-size: .5rem !important;
    }
    .fs-xl-1 {
        font-size: 1rem !important;
    }
    .fs-xl-15 {
        font-size: 1.5rem !important;
    }
    .fs-xl-2 {
        font-size: 2rem !important;
    }
    .fs-xl-25 {
        font-size: 2.5rem !important;
    }
    .fs-xl-3 {
        font-size: 3rem !important;
    }
    .fs-xl-35 {
        font-size: 3.5rem !important;
    }
    .fs-xl-4 {
        font-size: 4rem !important;
    }
    .fw-xl-100 {
        font-weight: 100 !important;
    }
    .fw-xl-200 {
        font-weight: 200 !important;
    }
    .fw-xl-300 {
        font-weight: 300 !important;
    }
    .fw-xl-400 {
        font-weight: 400 !important;
    }
    .fw-xl-500 {
        font-weight: 500 !important;
    }
    .fw-xl-600 {
        font-weight: 600 !important;
    }
    .fw-xl-700 {
        font-weight: 700 !important;
    }
    .fw-xl-800 {
        font-weight: 800 !important;
    }
    .fw-xl-900 {
        font-weight: 900 !important;
    }
    .border-xl {
        border: 1px solid !important;
    }
    .border-xl-top {
        border-top: 1px solid !important;
    }
    .border-xl-right {
        border-right: 1px solid !important;
    }
    .border-xl-bottom {
        border-bottom: 1px solid !important;
    }
    .border-xl-left {
        border-left: 1px solid !important;
    }
    .border-xl-0 {
        border: 0 !important;
    }
    .border-xl-top-0 {
        border-top: 0 !important;
    }
    .border-xl-right-0 {
        border-right: 0 !important;
    }
    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-xl-left-0 {
        border-left: 0 !important;
    }
    .position-xl-static {
        position: static !important;
    }
    .position-xl-relative {
        position: relative !important;
    }
    .position-xl-absolute {
        position: absolute !important;
    }
    .position-xl-fixed {
        position: fixed !important;
    } 
    .position-xl-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .xl-h1 {
        font-size: 2.5rem;
    } 
    .xl-h2 {
        font-size: 2rem;
    } 
    .xl-h3 {
        font-size: 1.75rem;
    } 
    .xl-h4 {
        font-size: 1.5rem;
    } 
    .xl-h5 {
        font-size: 1.25rem;
    }  
    .xl-h6 {
        font-size: 1rem;
    }
}